@include font-face('UnitedBold', 'UnitedSansSemiCond-Bold')
@include font-face('UnitedHeavy', 'UnitedSansSemiCond-Heavy')
@include font-face('MaaxMedium', 'Maax-Medium')
@include font-face('MaaxBold', 'Maax-Bold')

a, h1, h2, h3, h4, p, span, div{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.font-din-cond{
    font-family: din-condensed, arial, sans-serif;
    font-style: normal;
    font-weight: 300;
}
.font-united-bold{
    font-family: 'UnitedBold', arial, sans-serif;
    font-style: normal;
    font-weight: normal;
}
.font-united-bold{
    font-family: 'UnitedHeavy', arial, sans-serif;
    font-style: normal;
    font-weight: normal;
}

// @include font-size-map((null: 48px, $xlg: 40px, $lg: 30px, $md: 25px, $sm: 20px, $xs: 16px));

h1{
    @extend .font-united-bold;
    @include font-size-map((null: 72px, $xlg: 72px, $xs: 42px));
    line-height: 60px;

    @include breakpoint($xs){
        line-height: 38px;
    }
}

h2{
    @extend .font-united-bold;
    @include font-size-map((null: 48px, $xs: 34px));
    line-height: 42px;
    position: relative;

    @include breakpoint($xs){
        line-height: 30px;
    }
}

h3 {
    @extend .font-united-bold;
    @include font-size-map((null: 32px, $xs: 30px));
    line-height: 42px;

    @include breakpoint($xs){
        line-height: 26px;
    }
}
span {
    @extend .font-din-cond;
    @include font-size-map((null: 16px));
}
p{
    @extend .font-din-cond;
    @include font-size-map((null: 16px));
}
.text-uppercase{
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}