//Black
$black-100: 	rgba(0,0,0,1);
$black-90: 		rgba(0,0,0,0.9);
$black-80: 		rgba(0,0,0,0.8);
$black-70: 		rgba(0,0,0,0.7);
$black-60: 		rgba(0,0,0,0.6);
$black-50: 		rgba(0,0,0,0.5);
$black-40: 		rgba(0,0,0,0.4);
$black-30: 		rgba(0,0,0,0.3);
$black-20: 		rgba(0,0,0,0.2);
$black-10: 		rgba(0,0,0,0.1);
$black-0: 		rgba(0,0,0,0);

//White
$white-100: 	rgba(255,255,255,1);
$white-90: 		rgba(255,255,255,0.9);
$white-80: 		rgba(255,255,255,0.8);
$white-70: 		rgba(255,255,255,0.7);
$white-60: 		rgba(255,255,255,0.6);
$white-50: 		rgba(255,255,255,0.5);
$white-40: 		rgba(255,255,255,0.4);
$white-30: 		rgba(255,255,255,0.3);
$white-20: 		rgba(255,255,255,0.2);
$white-10: 		rgba(255,255,255,0.1);
$white-0: 		rgba(255,255,255,0);

$white: #ffffff;
$black: #000000;
$yellow: #ffd05e;

//#######################################
//## DEFAULT ############################
//#######################################

$default-body-text-color: $black;
$default-body-link-color: $black;

$default-selection-text-color: $white;
$default-selection-bg-color: $black;



//#######################################
//## PROJECT COLORS #####################
//#######################################
$light-grey: #dcdcdd;
$dark-grey: #161616;
$medium-grey: #737373;
$white-grey: #fff7f7;
$light-blue: #358df8;
$icon-red: #ed1f41;
$line-red: $icon-red;
$line-dark: #3d3f42;
$gray-text: #474747;
