//########################################
//## FONT VARIABLES ######################
//########################################

$font-main: Helvetica, Arial, sans-serif;
$font-main-arabic: Helvetica, Arial, sans-serif;

//########################################
//## SIZES ###############################
//########################################

$browser-context: 18; // px
$browser-line-height: 18; // px