@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

* {
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

body {
  line-height: 1;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select {
  vertical-align: middle; }

ul, ol {
  list-style-type: none; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }
  .clearfix:after {
    height: 0;
    clear: both;
    font-size: 0;
    content: "\A";
    display: block;
    visibility: hidden; }

::-moz-selection {
  background-color: #000000;
  color: #ffffff; }

::selection {
  background-color: #000000;
  color: #ffffff; }

::-moz-selection {
  background-color: #000000;
  color: #ffffff; }

button {
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 0;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: none;
  cursor: pointer; }

input {
  font-family: Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

html, body {
  width: 100%;
  display: block; }

html {
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  line-height: 1; }

a {
  text-decoration: none;
  color: #000000; }

.is-link:hover {
  text-decoration: underline; }

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

@font-face {
  font-family: "UnitedBold";
  src: url("../fonts/UnitedSansSemiCond-Bold.eot?1");
  src: url("../fonts/UnitedSansSemiCond-Bold.eot?1#iefix") format("embedded-opentype"), url("../fonts/UnitedSansSemiCond-Bold.woff?1") format("woff"), url("../fonts/UnitedSansSemiCond-Bold.svg?1#wf") format("svg"), url("../fonts/UnitedSansSemiCond-Bold.ttf?1") format("truetype");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: "UnitedHeavy";
  src: url("../fonts/UnitedSansSemiCond-Heavy.eot?1");
  src: url("../fonts/UnitedSansSemiCond-Heavy.eot?1#iefix") format("embedded-opentype"), url("../fonts/UnitedSansSemiCond-Heavy.woff?1") format("woff"), url("../fonts/UnitedSansSemiCond-Heavy.svg?1#wf") format("svg"), url("../fonts/UnitedSansSemiCond-Heavy.ttf?1") format("truetype");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: "MaaxMedium";
  src: url("../fonts/Maax-Medium.eot?1");
  src: url("../fonts/Maax-Medium.eot?1#iefix") format("embedded-opentype"), url("../fonts/Maax-Medium.woff?1") format("woff"), url("../fonts/Maax-Medium.svg?1#wf") format("svg"), url("../fonts/Maax-Medium.ttf?1") format("truetype");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: "MaaxBold";
  src: url("../fonts/Maax-Bold.eot?1");
  src: url("../fonts/Maax-Bold.eot?1#iefix") format("embedded-opentype"), url("../fonts/Maax-Bold.woff?1") format("woff"), url("../fonts/Maax-Bold.svg?1#wf") format("svg"), url("../fonts/Maax-Bold.ttf?1") format("truetype");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility; }

a, h1, h2, h3, h4, p, span, div {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.font-din-cond, span, p, .anchor {
  font-family: din-condensed, arial, sans-serif;
  font-style: normal;
  font-weight: 300; }

.font-united-bold, h1, h2, h3, .people .featured .quote__text span, .tips h2 span {
  font-family: 'UnitedBold', arial, sans-serif;
  font-style: normal;
  font-weight: normal; }

.font-united-bold, h1, h2, h3, .people .featured .quote__text span, .tips h2 span {
  font-family: 'UnitedHeavy', arial, sans-serif;
  font-style: normal;
  font-weight: normal; }

h1 {
  font-size: 4rem;
  line-height: 60px; }
  @media (max-width: 1550px) {
    h1 {
      font-size: 4rem; } }
  @media (max-width: 480px) {
    h1 {
      font-size: 2.33333rem; } }
  @media (max-width: 480px) {
    h1 {
      line-height: 38px; } }

h2 {
  font-size: 2.66667rem;
  line-height: 42px;
  position: relative; }
  @media (max-width: 480px) {
    h2 {
      font-size: 1.88889rem; } }
  @media (max-width: 480px) {
    h2 {
      line-height: 30px; } }

h3 {
  font-size: 1.77778rem;
  line-height: 42px; }
  @media (max-width: 480px) {
    h3 {
      font-size: 1.66667rem; } }
  @media (max-width: 480px) {
    h3 {
      line-height: 26px; } }

span {
  font-size: 0.88889rem; }

p {
  font-size: 0.88889rem; }

.text-uppercase {
  text-transform: uppercase;
  position: relative;
  display: inline-block; }

.btn {
  font-size: 0.77778rem;
  font-family: MaaxBold, arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  width: 200px;
  display: inline-block;
  -webkit-transition: width 0.3s;
  transition: width 0.3s; }
  .btn svg {
    width: 23px;
    height: 13px;
    vertical-align: middle; }
  .btn .btn-icon {
    position: relative;
    float: right;
    overflow: hidden;
    pointer-events: none; }
  @media (min-width: 1050px) {
    .btn:hover {
      width: 240px; } }
  .btn--arrow-xs {
    width: 40px;
    height: 40px;
    border: 1px rgba(255, 255, 255, 0.4) solid;
    background-color: transparent;
    text-align: center; }
    .btn--arrow-xs svg {
      position: relative;
      top: 13px;
      left: 10px;
      float: left;
      fill: #eb1734; }
  .btn--grey {
    padding: 20px 25px;
    background: #141415;
    color: white;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0); }
    .btn--grey:after {
      content: " ";
      display: block;
      clear: both; }
    .btn--grey span {
      font-size: 0.72222rem;
      float: left;
      font-family: 'MaaxBold', sans-serif;
      pointer-events: none;
      padding-top: 2px; }
    .btn--grey svg {
      position: relative;
      top: -1px;
      float: right;
      fill: #eb1734; }
  .btn--red {
    padding: 20px 25px;
    background: #ee2e51;
    color: white;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0); }
    .btn--red:after {
      content: " ";
      display: block;
      clear: both; }
    .btn--red span {
      font-size: 0.72222rem;
      float: left;
      font-family: 'MaaxBold', sans-serif;
      pointer-events: none;
      padding-top: 2px; }
    .btn--red svg {
      position: relative;
      top: -1px;
      float: right;
      fill: #ffffff; }

/* General layout */
.navigation {
  width: 100%;
  background: transparent;
  height: 80px;
  padding-left: 12.5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  position: relative; }
  .navigation:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 15px;
    border-bottom: 1px solid rgba(255, 255, 250, 0.2);
    width: 100%;
    height: 1px;
    z-index: 10; }
  .navigation.border-hidden:after {
    display: none; }
  @media (max-width: 480px) {
    .navigation {
      padding-left: 4.16667%;
      height: 60px; } }
  .navigation .logo {
    display: inline-block;
    vertical-align: middle;
    z-index: 110; }
    .navigation .logo svg {
      width: 88px;
      height: 37px; }
      @media (max-width: 480px) {
        .navigation .logo svg {
          margin-top: 10px; } }
  .navigation .menu {
    position: fixed;
    height: 80px;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 110; }
    @media (max-width: 480px) {
      .navigation .menu {
        height: 60px; } }
    .navigation .menu .anchor {
      display: inline-block;
      padding: 10px;
      margin-right: 45px; }
      @media (max-width: 480px) {
        .navigation .menu .anchor {
          margin-right: 10px; } }
    .navigation .menu .trigger {
      display: inline-block;
      background-image: -webkit-linear-gradient(bottom, #358df8 0%, #3371e2 100%);
      background-image: linear-gradient(to top, #358df8 0%, #3371e2 100%);
      height: 100%;
      width: 140px; }
      @media (max-width: 480px) {
        .navigation .menu .trigger {
          width: 100px; } }
      .navigation .menu .trigger p {
        color: #dcdcdd;
        text-transform: uppercase;
        letter-spacing: .05em;
        padding-left: 15px; }
      .navigation .menu .trigger span {
        width: 15px;
        height: 2px;
        margin-top: -2px;
        background: #dcdcdd;
        position: relative; }
        .navigation .menu .trigger span:after {
          content: '';
          position: absolute;
          top: 5px;
          height: 2px;
          width: 100%;
          background: #dcdcdd;
          transition: all 300ms linear;
          -o-transition: all 300ms linear;
          -moz-transition: all 300ms linear;
          -webkit-transition: all 300ms linear; }
        .navigation .menu .trigger span:before {
          content: '';
          position: absolute;
          top: -5px;
          height: 2px;
          width: 100%;
          background: #dcdcdd;
          transition: all 300ms linear;
          -o-transition: all 300ms linear;
          -moz-transition: all 300ms linear;
          -webkit-transition: all 300ms linear; }
      .navigation .menu .trigger--active span:before {
        width: 50%;
        -webkit-transform: translateX(10px) rotate(45deg);
        -ms-transform: translateX(10px) rotate(45deg);
        transform: translateX(10px) rotate(45deg);
        -webkit-transform-origin: left;
        -ms-transform-origin: left;
        transform-origin: left;
        transition: all 300ms linear;
        -o-transition: all 300ms linear;
        -moz-transition: all 300ms linear;
        -webkit-transition: all 300ms linear; }
      .navigation .menu .trigger--active span:after {
        width: 50%;
        -webkit-transform: translateX(10px) rotate(-45deg);
        -ms-transform: translateX(10px) rotate(-45deg);
        transform: translateX(10px) rotate(-45deg);
        -webkit-transform-origin: left;
        -ms-transform-origin: left;
        transform-origin: left;
        transition: all 300ms linear;
        -o-transition: all 300ms linear;
        -moz-transition: all 300ms linear;
        -webkit-transition: all 300ms linear; }
      .navigation .menu .trigger__inner {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; }

.header {
  width: 100%;
  height: -webkit-calc(80vh + 80px);
  height: calc(80vh + 80px);
  margin-top: -80px;
  position: relative;
  overflow: hidden;
  min-height: 720px;
  background-color: #161616;
  background-size: cover;
  background-position: top center;
  z-index: -1; }
  @media (max-width: 1550px) {
    .header {
      height: 76vh;
      min-height: 690px; } }
  @media (max-width: 1050px) {
    .header {
      background-image: url("../img/hero-mobile1_720.jpg");
      background-repeat: no-repeat; } }
  @media (max-width: 760px) {
    .header {
      height: 100vh; } }
  @media (max-width: 480px) {
    .header {
      height: 400px; } }
  .header .layer--video:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.13);
    z-index: 2; }
  .header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 101%;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    z-index: 1;
    object-fit: cover; }
    @media (max-width: 1050px) {
      .header video {
        display: none; } }
    @media (max-width: 1250px) {
      .header video {
        top: 0;
        width: auto;
        -webkit-transform: translateX(-50%) translateY(0);
        -ms-transform: translateX(-50%) translateY(0);
        transform: translateX(-50%) translateY(0); } }

.anchor {
  font-size: 0.88889rem;
  position: relative; }
  .anchor--uppercase {
    text-transform: uppercase; }
  .anchor::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    top: 50%;
    background: white;
    left: -5%;
    margin-top: -1px;
    -webkit-transform: translate3d(-1%, 0, 0) scaleX(1);
    transform: translate3d(-1%, 0, 0) scaleX(1);
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    -webkit-transition: width .3s ease,-webkit-transform .3s ease-out .3s;
    transition: width .3s ease,-webkit-transform .3s ease-out .3s;
    transition: width .3s ease,transform .3s ease-out .3s;
    transition: width .3s ease,transform .3s ease-out .3s,-webkit-transform .3s ease-out .3s; }
  .anchor--blue {
    color: #358df8; }
    .anchor--blue:before {
      background: #358df8; }
  .anchor:hover:before {
    width: 100%;
    -webkit-transform: translate3d(-1%, 0, 0) scaleX(0);
    transform: translate3d(-1%, 0, 0) scaleX(0); }

.form:after {
  content: " ";
  display: block;
  clear: both; }

.layer--overlay {
  position: absolute;
  top: -2px;
  right: 0;
  width: 100%;
  height: 105%;
  z-index: 3; }

.layer--black {
  background: black; }

.text-overflow {
  overflow: hidden; }

.m-t-25 {
  margin-top: 25px; }
  @media (max-width: 760px) {
    .m-t-25 {
      margin-top: 0; } }

.main {
  z-index: 2;
  position: relative;
  transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out; }
  .main--active {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: all 700ms ease-out;
    -o-transition: all 700ms ease-out;
    -moz-transition: all 700ms ease-out;
    -webkit-transition: all 700ms ease-out; }
    @media (max-width: 1050px) {
      .main--active {
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%); } }

.characteristics-group {
  padding-left: 12.5%; }
  .characteristics-group .characteristics-list__label {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 0.777778rem; }
  @media (max-width: 1050px) {
    .characteristics-group {
      padding: 50px 0;
      text-align: center;
      overflow: hidden; } }
  @media (max-width: 480px) {
    .characteristics-group {
      padding: 60px 0 30px 0; } }
  .characteristics-group--black {
    background: #000000; }
    .characteristics-group--black .characteristics-list__content {
      padding-top: 6px; }
  .characteristics-group--gradient {
    background: -webkit-linear-gradient(300deg, #223790 0%, #2382ed 100%);
    background: linear-gradient(150deg, #223790 0%, #2382ed 100%); }
  .characteristics-group h2, .characteristics-group p {
    color: white; }
  .characteristics-group__description {
    display: inline-block;
    max-width: 250px;
    vertical-align: middle; }
    @media (max-width: 1050px) {
      .characteristics-group__description {
        display: block;
        margin: 0 auto; }
        .characteristics-group__description h2 {
          z-index: 999; } }
    @media (max-width: 480px) {
      .characteristics-group__description {
        margin-bottom: 30px; } }
  .characteristics-group .characteristics-list {
    width: 75%;
    float: left;
    float: none;
    padding-left: 10.41667%;
    display: inline-block;
    vertical-align: middle; }
    @media (max-width: 1550px) {
      .characteristics-group .characteristics-list {
        padding-left: 6.25%; } }
    @media (max-width: 1250px) {
      .characteristics-group .characteristics-list {
        width: auto;
        padding-left: 1.66667%; } }
    @media (max-width: 1050px) {
      .characteristics-group .characteristics-list {
        width: 100%;
        padding-left: 0; } }
    .characteristics-group .characteristics-list__content {
      width: 125px;
      vertical-align: top;
      display: inline-block;
      height: 100px; }
    .characteristics-group .characteristics-list__item {
      padding: 73px 0;
      display: inline-block;
      text-align: center;
      position: relative;
      margin-right: 5%;
      height: 100%;
      z-index: 2; }
      @media (max-width: 1250px) {
        .characteristics-group .characteristics-list__item {
          padding-left: 4.16667%;
          margin-right: 5px; } }
      @media (max-width: 1050px) {
        .characteristics-group .characteristics-list__item {
          padding-left: 0;
          margin-left: 15px;
          margin-right: 15px; } }
      @media (max-width: 760px) {
        .characteristics-group .characteristics-list__item {
          text-align: center;
          display: block;
          padding: 30px 0; } }
      .characteristics-group .characteristics-list__item svg {
        fill: #ed1f41;
        width: 45px;
        height: 45px; }
      .characteristics-group .characteristics-list__item:before {
        content: "";
        position: absolute;
        top: 0;
        width: 1px;
        height: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0;
        z-index: -1; }
        @media (max-width: 1050px) {
          .characteristics-group .characteristics-list__item:before {
            height: 300%;
            top: -100%; } }
        @media (max-width: 760px) {
          .characteristics-group .characteristics-list__item:before {
            display: none; } }
      .characteristics-group .characteristics-list__item--black:before {
        background: #161616; }
      .characteristics-group .characteristics-list__item--blue:before {
        background: rgba(255, 255, 255, 0.1); }
    .characteristics-group .characteristics-list__label {
      padding-top: 20px;
      line-height: 18px; }
  .characteristics-group--intro .characteristics-list__item {
    opacity: 0;
    visibility: hidden; }
  .characteristics-group--intro .characteristics-group__description {
    opacity: 0;
    visibility: hidden; }
  .characteristics-group--deal .characteristics-group__description span {
    color: #ffd05e;
    letter-spacing: 0.1em; }
  .characteristics-group--deal .characteristics-list__item {
    padding: 70px 0 79px;
    width: 110px; }
    @media (max-width: 1050px) {
      .characteristics-group--deal .characteristics-list__item {
        padding: 33px 0 23px;
        width: auto; } }
  .characteristics-group--deal .characteristics-group__list {
    padding-left: 8.33333%; }
    @media (max-width: 1550px) {
      .characteristics-group--deal .characteristics-group__list {
        padding-left: 0.83333%; } }
    @media (max-width: 1050px) {
      .characteristics-group--deal .characteristics-group__list {
        padding-left: 0; } }

.key-features {
  position: relative;
  height: 650px; }
  @media (max-width: 1050px) {
    .key-features {
      height: auto; } }
  .key-features__container {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .key-features__container.item-active .btn {
      width: 30%;
      background: #ed1f41;
      border: 1px solid #ed1f41;
      padding-left: 30px;
      min-width: 150px; }
      .key-features__container.item-active .btn span {
        font-size: 0.66667rem;
        font-family: 'MaaxMedium', Helvetica, sans-serif;
        display: inline-block;
        color: white;
        letter-spacing: 0;
        padding-right: 20px; }
      .key-features__container.item-active .btn svg {
        fill: white; }
    .key-features__container.item-active .text-description {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      opacity: 1; }
  .key-features__list {
    position: relative;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
    @media (max-width: 1050px) {
      .key-features__list {
        display: block; } }
  .key-features__anchor {
    display: block; }
  .key-features .btn {
    transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    position: absolute;
    bottom: 10%;
    left: 12.5%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-left: 7px;
    z-index: 5; }
    .key-features .btn:hover {
      width: 35%; }
      .key-features .btn:hover .btn-icon {
        right: -15%; }
    @media (max-width: 1550px) {
      .key-features .btn:hover {
        width: 55%; }
        .key-features .btn:hover .btn-icon {
          right: -18%; } }
    .key-features .btn svg {
      float: none;
      top: initial;
      left: initial;
      pointer-events: none;
      position: relative; }
    .key-features .btn span {
      display: none;
      padding-right: 10px; }
  .key-features__item {
    position: absolute;
    height: 100%;
    width: 100%; }
    @media (max-width: 1050px) {
      .key-features__item {
        width: 100%;
        display: block;
        height: 280px;
        position: relative; } }
    .key-features__item span, .key-features__item h3, .key-features__item .btn {
      pointer-events: none; }
    .key-features__item.item-disabled span, .key-features__item.item-disabled h3, .key-features__item.item-disabled .btn {
      opacity: .2; }
    .key-features__item .text-description {
      transition: all 0.4s ease-in-out 0s;
      -o-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      -webkit-transition: all 0.4s ease-in-out 0s;
      font-size: 1rem;
      line-height: 23px;
      color: white;
      padding-left: 12.5%;
      width: 100%;
      margin-top: 65px;
      position: relative;
      -webkit-transform: translateY(10%);
      -ms-transform: translateY(10%);
      transform: translateY(10%);
      opacity: 0;
      pointer-events: none; }
      .key-features__item .text-description:before {
        content: " ";
        position: absolute;
        top: -35px;
        width: 55px;
        height: 8px;
        left: 12.70833%;
        background: #ed1f41; }
      .key-features__item .text-description p {
        max-width: 320px; }
        @media (max-width: 1550px) {
          .key-features__item .text-description p {
            max-width: 230px; } }
    .key-features__item:after {
      content: "";
      position: absolute;
      top: -10%;
      width: 1px;
      height: 110%;
      right: 0;
      background: rgba(255, 255, 255, 0.1);
      pointer-events: none; }
  .key-features__number {
    color: white;
    display: block;
    padding: 50px 0 20px 12.5%; }
  .key-features__text {
    max-width: 8em;
    color: white;
    padding-left: 12.5%;
    line-height: 28px; }
  .key-features__video {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    object-fit: cover;
    opacity: 0;
    z-index: 1; }
  .key-features__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    white-space: nowrap;
    font-size: 0;
    background: #1b1b1c; }
    .key-features__background:after {
      content: " ";
      display: block;
      clear: both; }
  .key-features__bg-item {
    width: 25%;
    background: #000000;
    float: left;
    overflow: hidden;
    height: 100%;
    position: relative; }
    @media (max-width: 1050px) {
      .key-features__bg-item {
        width: 100%;
        display: block;
        float: none;
        height: 280px; } }
    .key-features__bg-item.hover-active {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .key-features__bg-item.hover-active .layer--background {
        opacity: 0; }
      .key-features__bg-item.hover-active .key-features__video {
        opacity: 0.2; }
    .key-features__bg-item .layer--background {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #1b1b1c; }
      .key-features__bg-item .layer--background__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.2;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }

.lead {
  width: 100%;
  padding: 110px 0;
  background: #ffffff;
  text-align: center;
  position: relative; }
  @media (max-width: 760px) {
    .lead {
      padding: 130px 25px; } }
  @media (max-width: 480px) {
    .lead {
      padding: 80px 25px; } }
  .lead--grey {
    background: #fbfbfc; }
    .lead--grey .lead__inner {
      background: #fbfbfc;
      padding: 20px 0;
      z-index: 1;
      position: relative; }
    .lead--grey:after {
      content: '';
      position: absolute;
      top: 0;
      left: 40%;
      width: 1px;
      height: 70px;
      background-color: #cbc9c9; }
    .lead--grey:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 58.5%;
      width: 1px;
      height: 70px;
      background-color: #cbc9c9; }
  .lead--black {
    background-color: #000000; }
    .lead--black a > h2,
    .lead--black a > p {
      color: #ffffff; }
  .lead--program {
    text-align: left;
    width: 100%;
    padding-bottom: 160px; }
    @media (max-width: 760px) {
      .lead--program {
        padding-bottom: 130px; } }
    @media (max-width: 480px) {
      .lead--program {
        padding-top: 80px;
        padding-bottom: 80px; } }
    .lead--program .lead__inner {
      padding-left: 12.5%;
      width: 70%; }
      @media (max-width: 760px) {
        .lead--program .lead__inner {
          width: 91.66667%;
          padding-left: 4.16667%; } }
      .lead--program .lead__inner p {
        letter-spacing: 0.1em; }
      .lead--program .lead__inner span {
        color: red; }
    .lead--program h2, .lead--program p, .lead--program span {
      max-width: 700px; }
  .lead h2 {
    font-family: 'UnitedHeavy', sans-serif;
    text-transform: uppercase;
    color: #000000; }
  .lead p {
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #000000; }
    @media (max-width: 480px) {
      .lead p {
        line-height: 20px; } }
  .lead svg {
    fill: #51bae4;
    width: 13px;
    height: 10px; }
  .lead--red {
    background: #b51d48;
    background: -webkit-linear-gradient(top, #b51d48 0%, #871843 100%);
    background: linear-gradient(to bottom, #b51d48 0%, #871843 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b51d48', endColorstr='#871843',GradientType=0 );
    padding: 160px 0; }
    @media (max-width: 760px) {
      .lead--red {
        padding: 130px 25px; } }
    @media (max-width: 480px) {
      .lead--red {
        padding: 80px 25px; } }
    .lead--red h2, .lead--red p {
      color: #ffffff; }
  .lead--auto h2, .lead--auto p {
    max-width: initial;
    text-align: left; }
  .lead--auto .lead__inner {
    width: 100%; }

.video-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden; }
  @media (max-width: 1050px) {
    .video-wrapper {
      width: 500px; } }
  @media (max-width: 760px) {
    .video-wrapper {
      width: 100%; } }
  @media (max-width: 480px) {
    .video-wrapper {
      width: 100%; } }
  .video-wrapper:before {
    display: block;
    content: "";
    padding-top: 68%; }
  .video-wrapper .layer--black {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: #161616; }
  .video-wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 86px;
    height: auto;
    cursor: pointer;
    pointer-events: none; }
  .video-wrapper video {
    width: 130%;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; }
    @media (max-width: 1050px) {
      .video-wrapper video {
        width: 134%; } }

.details {
  background: url("../img/umar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom; }
  .details .details__inner {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .details .details__inner:after {
      content: " ";
      display: block;
      clear: both; }
  .details .content-features {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative; }
    .details .content-features:after {
      content: " ";
      display: block;
      clear: both; }
  .details--white {
    background: #f4f4f4; }
  .details h2 {
    font-family: 'UnitedHeavy', sans-serif;
    text-transform: uppercase; }
  .details__heading {
    padding-top: 105px;
    padding-bottom: 75px;
    margin-right: -100%;
    position: relative;
    z-index: 1; }
    @media (max-width: 1050px) {
      .details__heading {
        margin-right: 0;
        padding-bottom: 45px; } }
    @media (max-width: 480px) {
      .details__heading {
        padding-top: 60px; } }
    .details__heading .label {
      text-transform: uppercase; }
  .details h4 {
    font-family: 'UnitedHeavy', sans-serif;
    font-size: 1.333333rem;
    text-transform: uppercase; }
  .details .features {
    position: relative;
    width: 50%;
    float: left;
    padding-left: 12.5%;
    padding-right: 12.5%;
    padding-bottom: 180px;
    background-color: #ffffff; }
    @media (min-width: 760px) and (max-width: 1050px) {
      .details .features {
        padding-left: 12.5%;
        padding-right: 12.5%; } }
    @media (max-width: 1050px) {
      .details .features {
        width: 100%; } }
    @media (max-width: 480px) {
      .details .features {
        padding-bottom: 60px; } }
    .details .features p {
      font-family: 'Fira Sans Condensed', sans-serif;
      font-size: 0.777778rem;
      line-height: 20px; }
    .details .features:after {
      position: absolute;
      content: '';
      right: -35%;
      width: 35%;
      top: 0;
      height: 250px;
      background-color: #ffffff; }
    .details .features:before {
      position: absolute;
      content: '';
      right: -17.5%;
      width: 17.5%;
      bottom: 0;
      height: 50%;
      background-color: #ffffff; }
      @media (max-width: 1250px) {
        .details .features:before {
          right: -8.5%;
          width: 8.5%; } }
    .details .features--top {
      z-index: 6;
      position: absolute;
      left: 0;
      height: 100%; }
      @media (max-width: 1050px) {
        .details .features--top {
          position: relative; } }
      .details .features--top:before {
        display: none; }
    .details .features ul {
      position: relative; }
      .details .features ul:before {
        position: absolute;
        content: '';
        left: 17px;
        top: 20px;
        bottom: 20px;
        width: 1px;
        background-color: #e5e5e6; }
    .details .features li {
      padding-left: 60px;
      padding-bottom: 40px;
      position: relative; }
      @media (max-width: 760px) {
        .details .features li {
          padding-bottom: 20px; } }
      .details .features li h4 {
        line-height: 55px; }
      .details .features li:before {
        content: '';
        position: absolute;
        left: 0px;
        top: 7px;
        width: 35px;
        height: 35px;
        background-color: #ee395e;
        opacity: 0.3;
        border-radius: 35px; }
      .details .features li:after {
        content: '';
        position: absolute;
        left: 9px;
        top: 16px;
        width: 17px;
        height: 17px;
        background-color: #ee395e;
        border-radius: 35px; }
    .details .features__list--multiline p {
      padding-bottom: 20px; }
    .details .features__list--multiline .subparagraph {
      padding-bottom: 25px; }
    .details .features__list--multiline li {
      padding-bottom: 60px;
      max-width: 340px; }
      .details .features__list--multiline li h4 {
        line-height: 1.2;
        margin-bottom: 13px; }
      @media (max-width: 480px) {
        .details .features__list--multiline li .btn {
          width: 180px;
          padding: 20px 15px; } }
  .details__cta {
    margin-top: 40px;
    margin-left: 60px; }
    @media (max-width: 480px) {
      .details__cta {
        margin: 40px auto 0 auto; } }

.people {
  width: 50%;
  float: right;
  padding-right: 12.5%;
  padding-top: 70px;
  position: relative; }
  @media (max-width: 1550px) {
    .people {
      position: relative;
      right: 5%; } }
  @media (max-width: 1250px) {
    .people {
      padding-right: 8.33333%; } }
  @media (max-width: 1050px) {
    .people {
      width: 100%;
      padding-right: 0;
      right: 0; } }
  @media (min-width: 760px) and (max-width: 1050px) {
    .people {
      padding-left: 12.5%; } }
  .people__container--dark {
    background: black;
    padding-right: 23.07692%;
    padding-top: 130px; }
    .people__container--dark .people__inner {
      position: relative;
      z-index: 7; }
  .people .people__preview {
    text-align: right; }
    @media (max-width: 1050px) {
      .people .people__preview {
        text-align: left; } }
    @media (max-width: 1050px) {
      .people .people__preview .preview__description {
        padding-left: 15px; } }
    @media (min-width: 760px) and (max-width: 1050px) {
      .people .people__preview .preview__description {
        padding-left: 0; } }
    @media (max-width: 760px) {
      .people .people__preview .preview__description {
        width: 100%;
        text-align: center;
        padding-left: 0; } }
    .people .people__preview .preview__description p {
      padding-bottom: 40px; }
      @media (max-width: 760px) {
        .people .people__preview .preview__description p {
          padding-bottom: 20px; } }
  .people .underline {
    color: #ffffff;
    text-transform: uppercase;
    display: inline-block;
    position: relative; }
    .people .underline:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 25px;
      height: 1px;
      background: #3d3f42; }
      @media (max-width: 1050px) {
        .people .underline:after {
          bottom: 20px; } }
      @media (max-width: 760px) {
        .people .underline:after {
          bottom: 12px; } }
  .people .description {
    color: #de2c4d;
    text-transform: uppercase; }
  .people h4 {
    color: #ffffff;
    text-transform: uppercase; }
  .people .featured {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative; }
    .people .featured:after {
      content: " ";
      display: block;
      clear: both; }
    @media (max-width: 760px) {
      .people .featured:before {
        content: '';
        display: block;
        padding-top: 64%; } }
    .people .featured .quote {
      padding: 75px 0 100px 90px; }
      @media (max-width: 760px) {
        .people .featured .quote {
          padding: 45px 0 60px 50px; } }
      @media (max-width: 480px) {
        .people .featured .quote {
          padding: 35px 0 40px 30px; } }
      .people .featured .quote__text p {
        font-size: 1.66667rem;
        color: white;
        font-family: freight-big-pro, serif;
        font-style: normal;
        font-weight: 300;
        max-width: 400px;
        line-height: 1.2; }
      .people .featured .quote__text span {
        font-size: 4rem;
        color: white;
        margin: 0;
        padding: 0;
        display: inline-block;
        height: 30px;
        overflow: hidden;
        position: relative;
        margin-bottom: 30px; }
      .people .featured .quote .preview__description {
        margin-top: 66px;
        position: relative; }
        .people .featured .quote .preview__description:before {
          content: " ";
          position: absolute;
          top: -40px;
          left: 0;
          width: 110px;
          height: 1px;
          background: rgba(255, 255, 255, 0.15); }
        .people .featured .quote .preview__description .description {
          color: #537fa7;
          margin-top: 5px; }
  .people .featured__photo {
    width: 50%;
    max-width: 275px;
    float: left;
    position: relative; }
    @media (max-width: 760px) {
      .people .featured__photo {
        width: 50%;
        position: absolute;
        left: 0;
        top: 0;
        max-width: 100%; } }
    .people .featured__photo .layer--black {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      background: #161616; }
    .people .featured__photo img {
      height: auto;
      width: 100%; }
  .people .artists {
    padding-left: 45px;
    padding-top: 45px;
    float: left;
    position: relative; }
    @media (max-width: 760px) {
      .people .artists {
        margin-top: -68%; } }
    .people .artists p {
      padding-bottom: 40px;
      position: relative; }
      @media (max-width: 760px) {
        .people .artists p {
          padding-bottom: 20px; } }
    .people .artists .artists__list .artists__item {
      display: block;
      text-align: left; }
      @media (max-width: 1050px) {
        .people .artists .artists__list .artists__item {
          display: inline-block; } }
      @media (max-width: 1050px) {
        .people .artists .artists__list .artists__item:first-child {
          margin-right: 10px; } }
      @media (max-width: 1050px) {
        .people .artists .artists__list .artists__item:last-child {
          margin-left: 10px; } }
      @media (max-width: 1250px) {
        .people .artists .artists__list .artists__item:last-child {
          margin-left: 0; } }
      @media (min-width: 760px) and (max-width: 1050px) {
        .people .artists .artists__list .artists__item {
          display: block; } }
    @media (max-width: 760px) {
      .people .artists {
        padding-left: 0;
        text-align: center;
        width: 100%; } }
    .people .artists .underline:after {
      left: -45px; }
      @media (max-width: 760px) {
        .people .artists .underline:after {
          left: 0;
          right: 0; } }
  .people--full {
    padding-right: 0%;
    padding-top: 0; }
    @media (max-width: 1550px) {
      .people--full {
        position: relative;
        right: 0; } }
    @media (max-width: 1250px) {
      .people--full {
        padding-right: 0; } }
    @media (max-width: 1050px) {
      .people--full {
        width: 100%;
        padding-right: 0;
        right: 0; } }
    .people--full .photo {
      width: 100%;
      max-width: initial; }
      .people--full .photo:after {
        content: " ";
        display: block;
        clear: both; }
      .people--full .photo .photo-item {
        float: left; }
      .people--full .photo .photo-item--left {
        width: 330px;
        height: 330px;
        max-width: initial;
        overflow: hidden; }
      .people--full .photo .photo-item--right {
        width: 175px;
        height: 175px;
        overflow: hidden; }

.tips {
  width: 62.5%;
  float: left;
  float: none;
  clear: both;
  padding-left: 12.5%;
  padding-bottom: 180px;
  padding-top: 180px;
  position: relative; }
  .tips .form-elem__placeholder {
    padding-right: 0; }
  @media (min-width: 760px) and (max-width: 1250px) {
    .tips {
      width: 75%;
      float: left; } }
  @media (max-width: 760px) {
    .tips {
      width: 100%;
      padding-right: 16.66667%;
      padding-top: 120px;
      padding-bottom: 120px; } }
  @media (max-width: 760px) {
    .tips {
      padding-right: 4.16667%; } }
  @media (max-width: 480px) {
    .tips {
      padding-top: 60px;
      padding-bottom: 60px; } }
  .tips:before {
    content: '';
    position: absolute;
    top: 193px;
    left: -20px;
    height: 6px;
    width: 18.75%;
    background-color: #ed1f41; }
    @media (min-width: 760px) and (max-width: 1250px) {
      .tips:before {
        width: 16.66667%; } }
    @media (max-width: 760px) {
      .tips:before {
        width: 12.5%;
        top: 132px; } }
    @media (max-width: 480px) {
      .tips:before {
        width: 12.5%;
        top: 69px; } }
  .tips--dark {
    width: 100%; }
    .tips--dark:after {
      content: " ";
      display: block;
      clear: both; }
    .tips--dark .tips__content h2, .tips--dark .tips__content .tips__text {
      color: black; }
    .tips--dark .tips__content span {
      font-size: 0.88889rem;
      text-transform: uppercase;
      margin-bottom: 15px;
      display: inline-block; }
    .tips--dark:before {
      display: none; }
  .tips__content {
    width: 800px; }
    @media (max-width: 1050px) {
      .tips__content {
        width: 100%; } }
    @media (max-width: 1050px) {
      .tips__content .text-overflow {
        display: none; } }
    .tips__content .mobile-container {
      display: none; }
      @media (max-width: 1050px) {
        .tips__content .mobile-container {
          display: block; } }
  @media (max-width: 760px) {
    .tips--600 {
      padding-left: 8.33333%;
      padding-right: 8.33333%; } }
  .tips--600 .tips__content {
    float: left;
    max-width: 600px; }
    @media (max-width: 1550px) {
      .tips--600 .tips__content {
        max-width: 500px; } }
  .tips--600 .tips__text {
    max-width: 500px;
    padding-right: 100px; }
    @media (max-width: 760px) {
      .tips--600 .tips__text {
        padding-right: 50px;
        padding-bottom: 40px; } }
  .tips__text {
    margin-top: 15px;
    padding-bottom: 40px; }
    @media (max-width: 760px) {
      .tips__text {
        width: 100%; } }
  .tips__preview {
    float: left; }
    @media (max-width: 1550px) {
      .tips__preview {
        max-width: 450px; } }
    @media (max-width: 1250px) {
      .tips__preview {
        max-width: 350px; } }
    .tips__preview img {
      max-width: 100%; }
  .tips p {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 0.777778rem;
    line-height: 20px; }
  .tips h2 {
    color: #ffffff; }
    @media (max-width: 760px) {
      .tips h2 {
        padding-right: 0; } }
    .tips h2 span {
      font-size: 2.66667rem;
      color: #de2c4d; }
      @media (max-width: 480px) {
        .tips h2 span {
          font-size: 1.88889rem; } }
  .tips p {
    color: #ffffff;
    padding-right: 150px; }
    @media (max-width: 1050px) {
      .tips p {
        padding-right: 0; } }
  .tips form {
    margin-right: -30px; }

.video-modal {
  opacity: 0;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 50; }
  .video-modal .video-modal-wrapper {
    width: 65%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
    @media (max-width: 1050px) {
      .video-modal .video-modal-wrapper {
        width: 90%; } }
  .video-modal video {
    width: 100%;
    height: 100%; }
  .video-modal span {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 25px;
    width: 25px;
    cursor: pointer;
    text-align: center;
    font-family: Arial,sans-serif;
    background: #fff;
    background: rgba(255, 255, 255, 0.3);
    color: #000; }
  .video-modal--open {
    display: block; }

.articles {
  background: #000000;
  position: relative; }
  .articles .article {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px; }
    .articles .article:after {
      content: " ";
      display: block;
      clear: both; }
    @media (max-width: 1050px) {
      .articles .article {
        padding-bottom: 0; } }
  .articles .article__inner {
    position: relative;
    width: 33.33333%;
    float: left;
    padding: 0 30px;
    min-height: 500px; }
    .articles .article__inner:nth-child(3n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both; }
    .articles .article__inner:nth-child(3n + 2) {
      margin-left: 33.33333%;
      margin-right: -100%;
      clear: none; }
    .articles .article__inner:nth-child(3n + 3) {
      margin-left: 66.66667%;
      margin-right: -100%;
      clear: none; }
    @media (max-width: 1050px) {
      .articles .article__inner {
        width: 100%;
        float: left;
        float: none;
        min-height: 220px;
        margin: 30px 0; }
        .articles .article__inner:nth-child(1n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: none; } }
  .articles h4 {
    font-family: din-condensed, sans-serif;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    font-size: 1.333333rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 125px 0 100px 0; }
    @media (max-width: 1050px) {
      .articles h4 {
        padding: 60px 0 30px 0; } }
  .articles .article-img-wrapper {
    top: 0;
    left: 30px;
    right: 30px;
    bottom: 0;
    position: absolute;
    cursor: pointer;
    overflow: hidden; }
  .articles .article-img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none; }
    .articles .article-img__border {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 6px solid #ed1f41;
      opacity: 0;
      pointer-events: none; }
    .articles .article-img__corner {
      background: #ed1f41;
      width: 25%;
      height: 11%;
      position: absolute;
      bottom: 0;
      left: -6px;
      overflow: hidden; }
      @media (max-width: 760px) {
        .articles .article-img__corner {
          width: 35%;
          height: 20%; } }
      @media (max-width: 1050px) {
        .articles .article-img__corner {
          width: 10%;
          height: 15%; } }
      .articles .article-img__corner__wrapper {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%); }
      .articles .article-img__corner svg {
        width: 100%;
        height: 100%;
        fill: #ffffff;
        padding: 5px; }
  .articles .article__text {
    position: relative;
    vertical-align: top;
    pointer-events: none;
    padding: 45px;
    width: 80%;
    word-wrap: break-word; }
    @media (max-width: 1050px) {
      .articles .article__text {
        padding-bottom: 65px; } }
    @media (max-width: 480px) {
      .articles .article__text {
        padding: 25px 25px 45px 25px; } }
  .articles p {
    font-family: din-condensed, sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    border: 3px solid #ffffff;
    display: inline-block;
    padding: 10px; }
  .articles h2 {
    text-transform: uppercase;
    color: #ffffff;
    font-family: din-condensed, sans-serif;
    font-weight: 300;
    padding: 60px 0 10px 0; }
    @media (max-width: 1050px) {
      .articles h2 {
        font-size: 1.8rem;
        padding-top: 40px; } }
  .articles span {
    text-transform: uppercase;
    font-family: din-condensed, sans-serif;
    font-weight: 300;
    color: #ffffff; }
  .articles .line-separator {
    margin: 150px auto 0 auto;
    height: 1px;
    width: 100%;
    max-width: 1440px;
    padding: 0 30px;
    background: #3d3f42;
    opacity: .50; }
    @media (max-width: 1050px) {
      .articles .line-separator {
        margin: 70px auto 0 auto; } }
    @media (max-width: 760px) {
      .articles .line-separator {
        margin: 30px auto 0 auto; } }

.process__inner {
  padding-top: 135px;
  padding-bottom: 90px;
  margin-left: 25%;
  margin-right: 25%; }
  @media (min-width: 760px) and (max-width: 1050px) {
    .process__inner {
      margin-right: 12.5%;
      margin-left: 12.5%;
      padding-bottom: 70px; } }
  @media (max-width: 760px) {
    .process__inner {
      margin-right: 8.33333%;
      margin-left: 8.33333%; } }
  @media (max-width: 480px) {
    .process__inner {
      padding-top: 30px;
      padding-bottom: 60px; } }
  @media (max-width: 1050px) {
    .process__inner .text-overflow {
      display: none; } }
  .process__inner .mobile-container {
    display: none; }
    @media (max-width: 1050px) {
      .process__inner .mobile-container {
        display: block; }
        .process__inner .mobile-container h2 {
          font-size: 30px;
          line-height: 0.9; } }

.process .brief .process__label {
  padding-top: 15px;
  padding-bottom: 15px;
  letter-spacing: 0.1em; }

.process .brief .process__description {
  font-family: 'Fira Sans Condensed', sans-serif;
  padding-top: 15px;
  padding-bottom: 50px;
  font-size: 18px;
  line-height: 1.8em; }

.process .brief h2 {
  text-transform: uppercase; }

.steps__inner {
  margin-left: 12.5%;
  margin-right: 12.5%;
  padding-top: 90px;
  padding-bottom: 90px;
  white-space: nowrap;
  border-top: 1px solid #dcdcdd;
  border-bottom: 1px solid #dcdcdd;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between; }
  @media (max-width: 760px) {
    .steps__inner {
      width: 83.33333%;
      float: left;
      display: block;
      margin-left: 8.33333%;
      margin-right: 8.33333%;
      margin-bottom: 60px;
      padding-bottom: 15px; } }
  @media (max-width: 480px) {
    .steps__inner {
      padding-top: 60px;
      padding-bottom: 10px; } }

.steps__item {
  width: 33.33333%;
  max-width: 300px;
  display: inline-block;
  vertical-align: top;
  white-space: normal; }
  @media (max-width: 760px) {
    .steps__item {
      display: block;
      width: 100%;
      max-width: 100%;
      text-align: center; } }
  .steps__item .steps-block {
    box-sizing: border-box; }
    @media (min-width: 0) and (max-width: 760px) {
      .steps__item .steps-block {
        padding-right: 0;
        margin-bottom: 35px; } }
    .steps__item .steps-block h3 {
      font-size: 24px;
      line-height: 24px; }
    .steps__item .steps-block p {
      font-family: 'Fira Sans Condensed', sans-serif;
      font-size: 14px; }
    .steps__item .steps-block__description {
      line-height: 1.4em;
      margin-top: 15px;
      margin-bottom: 35px; }
      @media (min-width: 0) and (max-width: 760px) {
        .steps__item .steps-block__description {
          margin-bottom: 15px; } }
    .steps__item .steps-block__list {
      text-transform: uppercase; }
      .steps__item .steps-block__list .steps-block__item {
        padding-top: 8px;
        padding-bottom: 8px; }

.form {
  width: 550px; }
  @media (max-width: 760px) {
    .form {
      width: 100%; } }

.form-group {
  clear: both; }
  .form-group:after {
    content: " ";
    display: block;
    clear: both; }

.form-elem {
  float: left;
  width: 50%;
  position: relative;
  height: 63px; }
  .form-elem--full {
    float: none;
    width: 100%;
    clear: both;
    height: auto; }
  @media (max-width: 760px) {
    .form-elem {
      display: block;
      width: 83.33333%;
      float: left;
      margin: 10px 0; } }
  .form-elem input, .form-elem textarea {
    background-color: #292929;
    outline: none;
    border: none;
    padding: 30px 20px;
    color: #ffffff;
    width: 100%;
    height: 100%;
    font-family: 'MaaxMedium', sans-serif;
    font-size: 0.666667rem; }
  .form-elem p {
    position: absolute;
    top: 50%;
    left: 0;
    text-transform: uppercase;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-bottom: 0;
    padding-left: 30px;
    font-family: 'MaaxMedium', sans-serif;
    font-size: 0.666667rem;
    pointer-events: none;
    width: 100%; }
  .form-elem button {
    outline: none;
    border: none;
    width: 100%;
    height: 100%; }
  .form-elem input:focus + p, .form-elem input:active + p, .form-elem textarea:focus + p, .form-elem textarea:active + p {
    display: none; }

.author:after {
  content: " ";
  display: block;
  clear: both; }

@media (max-width: 480px) {
  .author {
    text-align: center; } }

.author__image {
  display: inline-block;
  vertical-align: middle;
  margin-top: -44px; }
  @media (max-width: 1050px) {
    .author__image {
      margin-top: -34px; } }
  @media (max-width: 760px) {
    .author__image {
      margin-top: -15px; } }
  @media (max-width: 480px) {
    .author__image {
      display: block;
      margin: 0 auto; } }

.author__info {
  display: inline-block;
  padding-left: 20px; }
  @media (max-width: 480px) {
    .author__info {
      padding-left: 0;
      margin-top: 15px; } }
  .author__info--with-line {
    position: relative;
    padding-left: 85px; }
    @media (max-width: 480px) {
      .author__info--with-line {
        padding-left: 20px; } }
    .author__info--with-line:before {
      content: "";
      position: absolute;
      left: 0;
      top: 6px;
      width: 60px;
      height: 3px;
      background-color: #000000; }

.author__name {
  width: 100px;
  font-family: 'UnitedHeavy', sans-serif;
  display: block;
  font-size: 24px;
  white-space: pre-line;
  line-height: 22px; }
  @media (max-width: 1050px) {
    .author__name {
      width: 100%; } }

.author__desc {
  color: #737373;
  letter-spacing: 0.1em; }

.testimonials {
  margin-left: 8.33333%;
  margin-right: 8.33333%;
  border-top: 1px solid #dcdcdd; }
  .testimonials:after {
    content: " ";
    display: block;
    clear: both; }
  @media (max-width: 760px) {
    .testimonials {
      padding-top: 40px;
      padding-bottom: 40px; } }
  .testimonials__inner {
    width: 100%;
    float: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px; }
    @media (max-width: 760px) {
      .testimonials__inner {
        margin-top: 30px;
        margin-bottom: 30px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .testimonials__inner--reverse {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
      @media (max-width: 760px) {
        .testimonials__inner--reverse {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column; } }
  .testimonials__image {
    width: 41.66667%;
    float: left;
    position: relative; }
    @media (max-width: 760px) {
      .testimonials__image {
        width: 80%;
        padding-right: 0; } }
    .testimonials__image img {
      width: 100%; }
    .testimonials__image .layer--black {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      background: #161616; }
  .testimonials__content {
    width: 41.66667%;
    float: left; }
    @media (max-width: 760px) {
      .testimonials__content {
        width: 100%;
        float: left; } }
    @media (max-width: 760px) {
      .testimonials__content .author__desc {
        font-size: 12px; } }
    .testimonials__content .testimonials__description {
      position: relative;
      font-family: freight-big-pro, serif;
      margin-bottom: 50px;
      margin-top: 100px;
      max-width: 450px;
      font-size: 2rem; }
      @media (max-width: 1550px) {
        .testimonials__content .testimonials__description {
          font-size: 2rem; } }
      @media (max-width: 760px) {
        .testimonials__content .testimonials__description {
          font-size: 1.77778rem; } }
      @media (max-width: 480px) {
        .testimonials__content .testimonials__description {
          font-size: 1.33333rem; } }
      @media (max-width: 760px) {
        .testimonials__content .testimonials__description {
          margin-top: 80px;
          max-width: initial;
          line-height: 36px; } }
      @media (max-width: 480px) {
        .testimonials__content .testimonials__description {
          margin-top: 50px;
          margin-bottom: 10px;
          line-height: 28px; } }
      .testimonials__content .testimonials__description:before {
        content: '“';
        top: -40px;
        position: absolute;
        font-family: 'UnitedBold', arial, sans-serif;
        font-size: 4rem; }
        @media (max-width: 1550px) {
          .testimonials__content .testimonials__description:before {
            font-size: 4rem; } }
        @media (max-width: 480px) {
          .testimonials__content .testimonials__description:before {
            font-size: 2.88889rem; } }
        @media (max-width: 480px) {
          .testimonials__content .testimonials__description:before {
            top: -30px; } }

.sidebar {
  position: fixed;
  width: 50%;
  right: -50%;
  bottom: 0;
  top: 0;
  height: 100%;
  background: #ffffff;
  z-index: 1;
  transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
  -webkit-transition: all 600ms ease-out; }
  @media (max-width: 1050px) {
    .sidebar {
      width: 100%;
      right: -100%; } }
  .sidebar--active {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: all 600ms ease-out;
    -o-transition: all 600ms ease-out;
    -moz-transition: all 600ms ease-out;
    -webkit-transition: all 600ms ease-out; }
    @media (max-width: 1050px) {
      .sidebar--active {
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%); } }
  .sidebar__list {
    width: 100%;
    padding-left: 80px;
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media (max-width: 1050px) {
      .sidebar__list {
        padding-left: 40px; } }
    @media (max-width: 760px) {
      .sidebar__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        padding-top: 30px; } }
    .sidebar__list .list {
      text-align: left;
      float: left;
      width: 50%; }
      @media (max-width: 760px) {
        .sidebar__list .list {
          width: 100%;
          display: block;
          text-align: center; } }
      .sidebar__list .list li {
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: 'UnitedHeavy', arial, sans-serif;
        text-transform: uppercase; }
        @media (max-width: 760px) {
          .sidebar__list .list li {
            padding-top: 10px;
            padding-bottom: 10px; } }
      .sidebar__list .list--primary {
        font-size: 1.66667rem; }
        @media (max-width: 760px) {
          .sidebar__list .list--primary {
            font-size: 1.44444rem; } }
        @media (max-width: 480px) {
          .sidebar__list .list--primary {
            font-size: 1.22222rem; } }
        .sidebar__list .list--primary a {
          -webkit-transition: all 200ms linear;
          transition: all 200ms linear; }
          .sidebar__list .list--primary a:hover {
            color: #ed1f41; }
      .sidebar__list .list--secondary {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1rem; }
        .sidebar__list .list--secondary a {
          color: #ed1f41; }
  .sidebar__bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 0 80px; }
    @media (max-width: 1050px) {
      .sidebar__bottom {
        padding: 0 40px; } }
    @media (max-height: 480px) {
      .sidebar__bottom {
        display: none; } }
    .sidebar__bottom .bottom__inner {
      padding-top: 20px;
      padding-bottom: 40px;
      border-top: 8px solid #ed1f41;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      @media (max-width: 1050px) {
        .sidebar__bottom .bottom__inner {
          padding-top: 20px;
          padding-bottom: 20px;
          border-width: 4px; } }
      .sidebar__bottom .bottom__inner svg {
        margin-left: 20px;
        width: 25px;
        height: 25px; }
        @media (max-width: 1050px) {
          .sidebar__bottom .bottom__inner svg {
            margin-left: 10px;
            width: 18px;
            height: 18px; } }
      .sidebar__bottom .bottom__inner span {
        display: block;
        margin-bottom: 15px;
        font-size: 1rem; }
        @media (max-width: 760px) {
          .sidebar__bottom .bottom__inner span {
            font-size: 0.88889rem; } }

.p-index {
  overflow: hidden; }
  .p-index .header .content {
    width: 41.66667%;
    float: left;
    padding-left: 12.5%;
    float: none;
    padding-top: 25px;
    margin-top: 80px;
    height: 100%;
    position: relative;
    z-index: 99; }
    @media (max-width: 1550px) {
      .p-index .header .content {
        width: 54.16667%;
        float: left; } }
    @media (max-width: 1050px) {
      .p-index .header .content {
        width: 83.33333%;
        float: left; } }
    .p-index .header .content h1 {
      color: #fff7f7; }
    .p-index .header .content__label {
      color: #656565;
      opacity: 0;
      visibility: hidden;
      letter-spacing: 1px; }
      .p-index .header .content__label span {
        font-size: 0.83333rem;
        color: #fff7f7;
        font-style: normal; }
    .p-index .header .content__main {
      position: absolute;
      left: 30%;
      bottom: 50%;
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
      transform: translateY(50%);
      width: 100%; }
      @media (max-width: 1550px) {
        .p-index .header .content__main {
          left: 23.07692%; } }
      @media (max-width: 1050px) {
        .p-index .header .content__main {
          left: 15.38462%;
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
          position: relative;
          bottom: 0;
          padding-top: 50px; } }
    .p-index .header .content .text-wrapper {
      margin: 65px 0 45px;
      position: relative; }
      @media (max-width: 1050px) {
        .p-index .header .content .text-wrapper {
          margin: 45px 0 45px; } }
      .p-index .header .content .text-wrapper:before {
        transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        content: '';
        position: absolute;
        top: 21px;
        left: -20px;
        height: 6px;
        background-color: #ed1f41;
        -webkit-transform: rotate(180deg) translateX(20%);
        -ms-transform: rotate(180deg) translateX(20%);
        transform: rotate(180deg) translateX(20%);
        -webkit-transform-origin: left;
        -ms-transform-origin: left;
        transform-origin: left;
        opacity: 0;
        width: 2000px; }
        @media (max-width: 480px) {
          .p-index .header .content .text-wrapper:before {
            top: 10px; } }
    .p-index .header .content__options .btn {
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translateY(20%);
      -ms-transform: translateY(20%);
      transform: translateY(20%); }
      @media (max-width: 760px) {
        .p-index .header .content__options .btn {
          display: block;
          margin-top: 10px;
          margin-bottom: 10px; } }
      .p-index .header .content__options .btn:last-of-type {
        margin-left: 30px; }
        @media (max-width: 760px) {
          .p-index .header .content__options .btn:last-of-type {
            margin-left: 0; } }
  @media (max-width: 480px) {
    .p-index .header .features {
      margin-left: -8.3333vw; } }
  .p-index .header .features__item {
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    line-height: 0.8rem; }
    .p-index .header .features__item:first-of-type {
      padding-right: 30px;
      border-right: 1px solid rgba(255, 255, 250, 0.2); }
      @media (max-width: 760px) {
        .p-index .header .features__item:first-of-type {
          display: block;
          padding-right: 0;
          border-right: none; } }
    .p-index .header .features__item:last-of-type {
      padding-left: 30px; }
      @media (max-width: 760px) {
        .p-index .header .features__item:last-of-type {
          display: block;
          padding-left: 0; } }
  .p-index .header .features p {
    color: #fff7f7; }
  .p-index .header .home-main h1 {
    -webkit-transform: translateY(105%);
    -ms-transform: translateY(105%);
    transform: translateY(105%); }
    @media (max-width: 760px) {
      .p-index .header .home-main h1 {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 0; } }
  .p-index .header.line-loaded .text-wrapper:before {
    opacity: 1 !important;
    -webkit-transform: rotate(180deg) translateX(0);
    -ms-transform: rotate(180deg) translateX(0);
    transform: rotate(180deg) translateX(0); }

.what-they-say {
  text-align: center;
  padding: 95px 0 140px 0; }
  @media (max-width: 760px) {
    .what-they-say {
      padding-top: 80px;
      padding-bottom: 80px; } }

.faq {
  background: url("../img/faq-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  padding: 165px 0; }
  @media (max-width: 760px) {
    .faq {
      padding: 70px 15px; } }
  .faq span {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff; }
  .faq h2 {
    text-transform: uppercase;
    padding: 20px 0 45px 0;
    color: #ffffff; }

.footer {
  color: #ffffff;
  background-color: #000000; }
  .footer .footer__inner {
    padding: 150px 0 110px 0;
    text-align: center; }
    @media (max-width: 1050px) {
      .footer .footer__inner {
        padding: 30px 8.33333%; } }
    @media (max-width: 1050px) {
      .footer .footer__inner--testimonials {
        padding: 60px 8.33333%; } }
    .footer .footer__inner h2 {
      text-transform: uppercase;
      padding-bottom: 35px; }
    .footer .footer__inner p {
      text-transform: uppercase;
      font-size: 1rem;
      max-width: 650px;
      margin: 0 auto;
      line-height: 22px;
      padding-bottom: 80px; }
      @media (max-width: 760px) {
        .footer .footer__inner p {
          padding-bottom: 50px; } }
    .footer .footer__inner .options a:first-child {
      margin-right: 15px; }
      @media (max-width: 760px) {
        .footer .footer__inner .options a:first-child {
          margin: 10px auto;
          display: block; } }
    .footer .footer__inner .options a:last-child {
      margin-left: 15px; }
      @media (max-width: 760px) {
        .footer .footer__inner .options a:last-child {
          margin: 10px auto;
          display: block; } }
  .footer .site-info {
    text-align: center;
    text-transform: uppercase;
    background: #0c0a0b;
    padding: 45px 0 35px 0;
    position: relative; }
    .footer .site-info:after {
      content: " ";
      display: block;
      clear: both; }
    @media (max-width: 760px) {
      .footer .site-info {
        text-align: center; } }
    .footer .site-info .copyright {
      color: #474747; }
      @media (max-width: 760px) {
        .footer .site-info .copyright {
          width: 100%;
          padding: 10px 0; } }
      .footer .site-info .copyright .logo {
        margin-top: -5px; }
        @media (max-width: 1250px) {
          .footer .site-info .copyright .logo {
            display: block;
            margin: 0 auto; } }
      .footer .site-info .copyright svg {
        display: inline-block;
        width: 65px;
        height: 30px;
        margin: 0 20px 0 50px; }
        @media (max-width: 1250px) {
          .footer .site-info .copyright svg {
            margin: 0 auto; } }
      .footer .site-info .copyright p {
        display: inline-block; }
        @media (max-width: 1250px) {
          .footer .site-info .copyright p {
            display: block; } }
        @media (max-width: 760px) {
          .footer .site-info .copyright p {
            display: block;
            margin: 0 auto;
            width: 100%; } }
    .footer .site-info div {
      display: inline-block; }
    .footer .site-info div:first-child {
      float: left; }
      @media (max-width: 1250px) {
        .footer .site-info div:first-child {
          float: none; } }
    .footer .site-info div:last-child {
      float: right; }
      @media (max-width: 1250px) {
        .footer .site-info div:last-child {
          float: none; } }
    .footer .site-info ul {
      position: absolute;
      top: 54px;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }
      @media (max-width: 1250px) {
        .footer .site-info ul {
          position: relative;
          display: block;
          top: auto;
          left: auto;
          -webkit-transform: translate(0);
          -ms-transform: translate(0);
          transform: translate(0);
          margin: 15px auto; } }
      .footer .site-info ul li {
        display: inline;
        margin: 0 10px; }
        @media (max-width: 480px) {
          .footer .site-info ul li {
            display: block;
            margin: 20px 0; } }
      .footer .site-info ul a {
        transition: color 0.35s ease-in-out 0s;
        -o-transition: color 0.35s ease-in-out 0s;
        -moz-transition: color 0.35s ease-in-out 0s;
        -webkit-transition: color 0.35s ease-in-out 0s;
        color: #474747;
        text-transform: uppercase;
        font-size: 0.888889rem;
        font-family: din-condensed, arial, sans-serif;
        font-weight: 700; }
        .footer .site-info ul a:hover {
          color: white; }
    .footer .site-info .social {
      margin-top: -5px; }
      @media (max-width: 1250px) {
        .footer .site-info .social {
          margin: 10px auto; } }
      @media (min-width: 1050px) {
        .footer .site-info .social__anchor:hover svg {
          fill: white; } }
      .footer .site-info .social svg {
        transition: all 0.35s ease-in-out 0s;
        -o-transition: all 0.35s ease-in-out 0s;
        -moz-transition: all 0.35s ease-in-out 0s;
        -webkit-transition: all 0.35s ease-in-out 0s;
        width: 30px;
        height: 30px;
        fill: #474747;
        margin: 0 50px 0 20px; }
        @media (max-width: 1250px) {
          .footer .site-info .social svg {
            margin: 0 auto; } }

.p-client .key-features__container.item-active .text-description p {
  font-size: 0.94444rem; }

.p-client .navigation:after {
  border-bottom: 1px solid rgba(255, 255, 250, 0.13); }

.p-client .key-features__bg-item {
  width: 33.33%; }
  @media (max-width: 1050px) {
    .p-client .key-features__bg-item {
      width: 100%; } }

.p-client .questions {
  background: black; }
  .p-client .questions__heading p {
    margin-top: 10px; }
  .p-client .questions__inner {
    width: 50%;
    float: left;
    float: none;
    margin: 0 auto;
    padding: 100px 0 135px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18); }
    @media (max-width: 760px) {
      .p-client .questions__inner {
        width: 90%;
        padding: 50px 0 35px; } }
    .p-client .questions__inner h2, .p-client .questions__inner p {
      color: white;
      text-transform: uppercase; }
  .p-client .questions .form {
    width: 100%;
    text-align: left;
    margin-top: 80px; }
    @media (max-width: 760px) {
      .p-client .questions .form {
        margin-top: 40px; } }
    .p-client .questions .form .form-elem {
      height: 40px;
      width: 100%; }
      .p-client .questions .form .form-elem__placeholder {
        font-size: 0.77778rem;
        padding-left: 20px; }
      .p-client .questions .form .form-elem--full {
        height: auto;
        position: relative; }
        .p-client .questions .form .form-elem--full .form-elem__placeholder {
          top: 20px;
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0); }
    .p-client .questions .form .form-group--inline .form-elem {
      width: 50%; }
      @media (max-width: 760px) {
        .p-client .questions .form .form-group--inline .form-elem {
          width: 100%; } }
      .p-client .questions .form .form-group--inline .form-elem:first-of-type {
        padding-right: 13px; }
        @media (max-width: 760px) {
          .p-client .questions .form .form-group--inline .form-elem:first-of-type {
            padding-right: 0; } }
      .p-client .questions .form .form-group--inline .form-elem:last-of-type {
        padding-left: 12px; }
        .p-client .questions .form .form-group--inline .form-elem:last-of-type .form-elem__placeholder {
          padding-left: 30px; }
        @media (max-width: 760px) {
          .p-client .questions .form .form-group--inline .form-elem:last-of-type {
            padding-left: 0; }
            .p-client .questions .form .form-group--inline .form-elem:last-of-type .form-elem__placeholder {
              padding-left: 20px; } }
    .p-client .questions .form .form-group--btn {
      margin-top: 50px;
      text-align: center; }
      @media (max-width: 760px) {
        .p-client .questions .form .form-group--btn {
          margin-top: 20px; } }
      .p-client .questions .form .form-group--btn .btn {
        width: 180px;
        margin: 0 auto;
        text-align: left;
        height: 45px;
        padding: 15px 20px; }
        .p-client .questions .form .form-group--btn .btn .btn-icon {
          padding-top: 2px; }
    .p-client .questions .form textarea {
      padding: 20px 20px;
      text-transform: uppercase;
      text-align: left; }
    .p-client .questions .form input {
      padding: 5px 20px;
      text-transform: uppercase;
      text-align: left; }
    .p-client .questions .form textarea {
      width: 100%;
      height: 80px; }

@media (max-width: 760px) {
  .p-client .people .featured__photo {
    position: relative; } }

@media (max-width: 760px) {
  .p-client .people .featured:before {
    display: none; } }

.p-client .content .mobile-container {
  display: none; }
  @media (max-width: 760px) {
    .p-client .content .mobile-container {
      display: block; } }

@media (max-width: 760px) {
  .p-client .content .default-container .text-overflow {
    display: none; } }

.p-female .header .content__label {
  color: #ed1f41 !important; }

.online-cocahing {
  color: #ffffff;
  background-color: #000000;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12.5%;
  padding-right: 12.5%;
  padding-top: 110px;
  padding-bottom: 175px; }
  .online-cocahing:after {
    content: " ";
    display: block;
    clear: both; }
  .online-cocahing--plans {
    background-color: #2e57a3; }
    .online-cocahing--plans .online-cocahing__type__description {
      color: #ffffff; }
  .online-cocahing__separator {
    position: absolute;
    left: -43px;
    right: -10px;
    bottom: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2); }
    @media (max-width: 760px) {
      .online-cocahing__separator {
        right: -43px; } }
  .online-cocahing h3 {
    text-align: center;
    font-size: 1.333334rem;
    font-family: din-condensed, sans-serif;
    font-weight: 300;
    letter-spacing: 1px; }
  .online-cocahing__description {
    text-align: center;
    font-size: 0.777778rem;
    font-family: 'Fira Sans Condensed', sans-serif; }
  .online-cocahing__types {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 110px; }
    .online-cocahing__types:after {
      content: " ";
      display: block;
      clear: both; }
  .online-cocahing__type {
    width: 33.33333%;
    float: left;
    padding-top: 30px; }
    .online-cocahing__type:nth-child(3n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both; }
    .online-cocahing__type:nth-child(3n + 2) {
      margin-left: 33.33333%;
      margin-right: -100%;
      clear: none; }
    .online-cocahing__type:nth-child(3n + 3) {
      margin-left: 66.66667%;
      margin-right: -100%;
      clear: none; }
    @media (max-width: 1050px) {
      .online-cocahing__type {
        width: 50%;
        float: left; }
        .online-cocahing__type:nth-child(2n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both; }
        .online-cocahing__type:nth-child(2n + 2) {
          margin-left: 50%;
          margin-right: -100%;
          clear: none; } }
    @media (max-width: 760px) {
      .online-cocahing__type {
        display: block;
        float: none; } }
    .online-cocahing__type:first-child {
      padding-right: 8.33333%; }
      @media (max-width: 760px) {
        .online-cocahing__type:first-child {
          padding: 0;
          width: 100%;
          text-align: center; }
          .online-cocahing__type:first-child h2 {
            margin-left: 0; }
          .online-cocahing__type:first-child p {
            margin-left: 0; } }
    .online-cocahing__type:last-child {
      padding-left: 8.33333%; }
      @media (max-width: 1050px) {
        .online-cocahing__type:last-child {
          padding-left: 0;
          padding-top: 60px;
          width: 100%;
          text-align: center; }
          .online-cocahing__type:last-child h2 {
            margin-left: 0; }
          .online-cocahing__type:last-child p {
            margin-left: 0;
            padding-left: 0; } }
    .online-cocahing__type:nth-child(2) {
      padding-left: 4.16667%;
      padding-right: 4.16667%;
      position: relative; }
      @media (max-width: 760px) {
        .online-cocahing__type:nth-child(2) {
          padding: 60px 0 0 0;
          width: 100%;
          text-align: center;
          margin-left: 0; }
          .online-cocahing__type:nth-child(2) h2 {
            margin-left: 0; }
          .online-cocahing__type:nth-child(2) p {
            margin-left: 0; } }
      .online-cocahing__type:nth-child(2):after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 22%;
        left: -10%;
        width: 1px;
        background-color: rgba(255, 255, 255, 0.2); }
        @media (max-width: 760px) {
          .online-cocahing__type:nth-child(2):after {
            display: none; } }
      .online-cocahing__type:nth-child(2):before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 22%;
        right: -2%;
        width: 1px;
        background-color: rgba(255, 255, 255, 0.2); }
        @media (max-width: 1050px) {
          .online-cocahing__type:nth-child(2):before {
            display: none; } }
    .online-cocahing__type h2 {
      font-size: 1.5rem;
      line-height: 1.2em;
      background: -webkit-linear-gradient(left, #eb609d, #f15a5d);
      background: linear-gradient(90deg, #eb609d, #f15a5d);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
      margin-left: -12.5%; }
    .online-cocahing__type__description {
      text-align: center;
      padding-bottom: 40px;
      color: #656565;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-left: -12.5%; }
    .online-cocahing__type__list {
      display: inline-block; }
      .online-cocahing__type__list li {
        padding: 18px 0;
        font-size: 0.777778rem;
        font-family: 'Fira Sans Condensed', sans-serif;
        text-align: left;
        position: relative; }
      .online-cocahing__type__list__item--include:after {
        content: '';
        position: absolute;
        width: 3px;
        height: 1rem;
        background-color: #5bd371;
        left: -20px;
        top: 16px;
        -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
        transform: rotate(40deg); }
      .online-cocahing__type__list__item--include:before {
        content: '';
        position: absolute;
        width: 3px;
        height: 0.45rem;
        background-color: #5bd371;
        left: -27px;
        top: 25px;
        -webkit-transform: rotate(-49deg);
        -ms-transform: rotate(-49deg);
        transform: rotate(-49deg); }
      .online-cocahing__type__list__item--exclude:after {
        content: '';
        position: absolute;
        width: 3px;
        height: 1rem;
        background-color: #eb1734;
        left: -20px;
        top: 16px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      .online-cocahing__type__list__item--exclude:before {
        content: '';
        position: absolute;
        width: 3px;
        height: 1rem;
        background-color: #eb1734;
        left: -20px;
        top: 16px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
    .online-cocahing__type__price {
      padding: 44px 0 44px 20%;
      font-size: 1.777778rem;
      letter-spacing: 1px; }
      .online-cocahing__type__price--super {
        vertical-align: super; }
      @media (max-width: 760px) {
        .online-cocahing__type__price {
          padding: 15px 0; } }
    .online-cocahing__type .btn {
      text-align: left; }

/*# sourceMappingURL=style.css.map */
