.articles{
  background: $black;
  position: relative;

  .article{
    @include container(100%);
    max-width: 1500px;

    @include breakpoint($md) {
      padding-bottom: 0;
    }


  }

  .article__inner{
    position: relative;
    @include gallery(8 of 24);
    padding: 0 30px;
    min-height: 500px;

    @include breakpoint($md) {
      @include gallery(24 of 24);
      float: none;
      min-height: 220px;
      margin: 30px 0;
    }
  }

  h4{
    font-family: din-condensed, sans-serif;
    color: $white;
    font-weight: 300;
    text-align: center;
    font-size: 1.333333rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 125px 0 100px 0;

    @include breakpoint($md) {
      padding: 60px 0 30px 0;
    }

  }

  .article-img-wrapper{
    top:0;
    left:30px;
    right: 30px;
    bottom: 0;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
  }

  .article-img{
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;

    &__border{
      position: absolute;
      top:0;
      left:0;
      right: 0;
      bottom: 0;
      border: 6px solid $icon-red;
      opacity: 0;
      pointer-events: none;
    }

    &__corner{
      background: $icon-red;
      width: 25%;
      height: 11%;
      position: absolute;
      bottom: 0;
      left: -6px;
      overflow: hidden;

      @include breakpoint($sm) {
        width: 35%;
        height: 20%;
      }

      @include breakpoint($md) {
        width: 10%;
        height: 15%;
      }

      &__wrapper{
        position: absolute;
        left:0;
        bottom: 0;
        right: 0;
        top:0;
        transform: translateX(-100%);
      }

      svg{
        width: 100%;
        height: 100%;
        fill: $white;
        padding: 5px;
      }
    }

  }

  .article__text{
    position:relative;
    vertical-align: top;
    pointer-events: none;
    padding: 45px;
    width: 80%;
    word-wrap: break-word;
    @include breakpoint($md) {
      padding-bottom: 65px;
    }

    @include breakpoint($xs) {
      padding: 25px 25px 45px 25px;
    }
  }

  p{
    font-family: din-condensed, sans-serif;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
    border: 3px solid $white;
    display: inline-block;
    padding: 10px;
  }

  h2{
    text-transform: uppercase;
    color: $white;
    font-family: din-condensed, sans-serif;
    font-weight: 300;
    padding: 60px 0 10px 0;

    @include breakpoint($md) {
      font-size: 1.8rem;
      padding-top: 40px;
    }

  }

  span{
    text-transform: uppercase;
    font-family: din-condensed, sans-serif;
    font-weight: 300;
    color: $white;
  }

  .line-separator{
    margin: 150px auto 0 auto;
    height: 1px;
    width: 100%;
    max-width: 1440px;
    padding: 0 30px;
    background: $line-dark;
    opacity: .50;

    @include breakpoint($md){
      margin: 70px auto 0 auto;
    }

    @include breakpoint($sm){
      margin: 30px auto 0 auto;
    }

  }

}

