.author {
  @include susy-clearfix;
  @include breakpoint($xs) {
    text-align: center;

  }

  &__image {
    display: inline-block;
    vertical-align: middle;
    margin-top: -44px;
    @include breakpoint($md){
      margin-top: -34px;
    }

    @include breakpoint($sm){
      margin-top: -15px;
    }

    @include breakpoint($xs) {
      display: block;
      margin: 0 auto;
    }
  }

  &__info {
    display: inline-block;
    padding-left: 20px;

    @include breakpoint($xs) {
      padding-left: 0;
      margin-top: 15px;
    }

    &--with-line {
      position: relative;
      padding-left: 85px;
      @include breakpoint($xs){
        padding-left: 20px;
      }
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 6px;
        width: 60px;
        height: 3px;
        background-color: $black;
      }
    }
  }

  &__name {
    width: 100px;
    font-family: 'UnitedHeavy', sans-serif;
    display: block;
    font-size: 24px;
    white-space: pre-line;
    line-height: 22px;

    @include breakpoint($md){
      width:100%;
    }
  }

  &__desc {
    color: $medium-grey;
    letter-spacing: 0.1em;
  }

}