.btn {
    @include font-size-map((null: 14px));
    font-family: MaaxBold, arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    width: 200px;
    display: inline-block;
    transition:  width 0.3s;
    svg{
        width: 23px;
        height: 13px;
        vertical-align: middle;
    }

    .btn-icon{
        position: relative;
        float: right;
        overflow: hidden;
        pointer-events: none;
    }
    @include hover(){
        &:hover{
            width: 240px;
        }
    }

    &--arrow-xs {
        width: 40px;
        height: 40px;
        border: 1px $white-40 solid;
        background-color: transparent;
        text-align: center;
        svg {
            position: relative;
            top: 13px;
            left: 10px;
            float: left;
            fill: #eb1734;
        }
    }

    &--grey{
        @include susy-clearfix;
        padding: 20px 25px;
        background: #141415;
        color: white;
        span{
            @include font-size-map((null: 13px));
            float: left;
            font-family: 'MaaxBold', sans-serif;
            pointer-events: none;
            padding-top: 2px;
        }
        svg{
            position: relative;
            top: -1px;
            float: right;
            fill: #eb1734;
        }

        transform: perspective(1px) translateZ(0);
    }

    &--red{
        @include susy-clearfix;
        padding: 20px 25px;
        background: #ee2e51;
        color: white;
        span{
            @include font-size-map((null: 13px));
            float: left;
            font-family: 'MaaxBold', sans-serif;
            pointer-events: none;
            padding-top: 2px;
        }
        svg{
            position: relative;
            top: -1px;
            float: right;
            fill: $white;
        }

        transform: perspective(1px) translateZ(0);
    }

}