.characteristics-group{

    .characteristics-list__label{
        font-family: 'Fira Sans Condensed', sans-serif;
        font-size: 0.777778rem;
    }

    padding-left:span(3 of 24);

    @include breakpoint($md) {
        padding: 50px 0;
        text-align: center;
        overflow: hidden;
    }

    @include breakpoint($xs) {
        padding: 60px 0 30px 0;
    }

    &--black {
        background: $black;
        .characteristics-list__content{
            padding-top: 6px;
        }
    }

    &--gradient{
        background: linear-gradient(150deg, #223790 0%, #2382ed 100%);
    }

    h2, p{
        color: white;
    }

    &__description {
        display: inline-block;
        max-width: 250px;
        vertical-align: middle;

        @include breakpoint($md) {
            display: block;
            margin: 0 auto;
            h2 {
                z-index: 999;
            }
        }

        @include breakpoint($xs) {
            margin-bottom: 30px;
        }
    }

    .characteristics-list {
        @include span(18 of 24);
        float: none;
        padding-left: span(2.5 of 24);
        display: inline-block;
        vertical-align: middle;
        @include breakpoint($xlg){
            padding-left: span(1.5 of 24);
        }
        @include breakpoint($lg) {
            width: auto;
            padding-left: span(0.4 of 24);
        }

        @include breakpoint($md) {
            width: 100%;
            padding-left: 0;
        }


        &__content{
            width: 125px;
            vertical-align: top;
            display: inline-block;
            height: 100px;
        }
        &__item{
            padding: 73px 0;
            display: inline-block;
            text-align: center;
            position: relative;
            margin-right: span(1.2 of 24);
            height: 100%;
            z-index: 2;

            @include breakpoint($lg) {
                padding-left: span(1 of 24);
                margin-right: 5px;
            }

            @include breakpoint($md) {
                padding-left: 0;
                margin-left: 15px;
                margin-right: 15px;
            }

            @include breakpoint($sm) {
                text-align: center;
                display: block;
                padding: 30px 0;
            }

            svg{
                fill: $icon-red;
                width: 45px;
                height: 45px;
            }
            &:before{
                content: "";
                position: absolute;
                top: 0;
                width: 1px;
                height: 100%;
                left: 0;
                right: 0;
                margin: 0 auto;
                bottom: 0;
                z-index: -1;

                @include breakpoint($md) {
                    height: 300%;
                    top: -100%;
                }

                @include breakpoint($sm) {
                    display: none;
                }
            }

            &--black:before {
                background: $dark-grey;
            }

            &--blue:before {
                background: $white-10;
            }
        }
        &__label{
            padding-top: 20px;
            line-height: 18px;
        }
    }
    &--intro{
        .characteristics-list__item{
            opacity: 0;
            visibility: hidden;
        }
        .characteristics-group__description{
            opacity: 0;
            visibility: hidden;
        }
    }

    &--deal{
        .characteristics-group__description{
            span{
                color: $yellow;
                letter-spacing: 0.1em;
            }
        }
        .characteristics-list__item{
            padding: 70px 0 79px;
            width: 110px;
            @include breakpoint($md){
                padding: 33px 0 23px;
                width: auto;
            }
        }
        .characteristics-group__list{
            padding-left: span(2 of 24);
            @include breakpoint($xlg){
                padding-left: span(0.2 of 24);
            }
            @include breakpoint($md){
                padding-left: 0;
            }
        }
    }
}