
.form-wrap {

}
.form{
  width: 550px;
  @include breakpoint($sm) {
    width: 100%;
  }
}
.form-group{
  @include susy-clearfix;
  clear: both;
}
.form-elem {
  float: left;
  width: 50%;
  position: relative;
  height: 63px;
  &--full{
    float: none;
    width: 100%;
    clear: both;
    height: auto;
  }

  @include breakpoint($sm) {
    display: block;
    @include span(20 of 24);
    margin: 10px 0;
  }
  input, textarea {
    background-color: #292929;
    outline: none;
    border: none;
    padding: 30px 20px;
    color: #ffffff;
    width: 100%;
    height: 100%;
    font-family: 'MaaxMedium', sans-serif;
    font-size: 0.666667rem;
  }


  p {
    position: absolute;
    top: 50%;
    left: 0;
    text-transform: uppercase;
    transform: translateY(-50%);
    padding-bottom: 0;
    padding-left: 30px;
    font-family: 'MaaxMedium', sans-serif;
    font-size: 0.666667rem;
    pointer-events: none;
    width: 100%;
  }

  button {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
  }

  input:focus + p,  input:active + p, textarea:focus+p,textarea:active+p {
    display: none;
  }
}