.anchor{
    @extend .font-din-cond;
    @include font-size-map((null: 16px));
    position: relative;
    &--uppercase{
        text-transform: uppercase;
    }
    &::before{
        content: "";
        position: absolute;
        height: 2px;
        width: 0;
        top: 50%;
        background: white;
        left: -5%;
        margin-top: -1px;
        transform: translate3d(-1%,0,0) scaleX(1);
        transform-origin: right center;
        transition: width .3s ease,transform .3s ease-out .3s;
    }
    &--blue{
        color: #358df8;
        &:before{
            background: $light-blue;
        }
    }
    &:hover{
        &:before{
            width: 100%;
            transform: translate3d(-1%,0,0) scaleX(0);
        }
    }
}
.form{
    @include susy-clearfix;
}
.layer{
    &--overlay{
        position: absolute;
        top: -2px;
        right: 0;
        width: 100%;
        height: 105%;
        z-index: 3;
    }
    &--black{
        background: black;
    }
}
.text-overflow{
    overflow: hidden;
}
.m-t-25{
    margin-top: 25px;
    @include breakpoint($sm){
        margin-top: 0;
    }
}
.main {
     z-index: 2;
     position: relative;
     @include transition-custom(all 700ms ease-out);
     &--active {
         transform: translateX(-50%);
         @include transition-custom(all 700ms ease-out);
         @include breakpoint($md){
             transform: translateX(-100%);
         }
     }
 }