.header {
    width: 100%;
    height: calc(80vh + 80px);
    margin-top: -80px;
    position: relative;
    overflow: hidden;
    min-height: 720px;
    background-color: $dark-grey;
    background-size: cover;
    background-position: top center;
    z-index: -1;

    @include breakpoint($xlg){
        height: 76vh;
        min-height: 690px;
    }
    @include breakpoint($md){
        background-image: url('../img/hero-mobile1_720.jpg');
        background-repeat: no-repeat;
    }
    @include breakpoint($sm) {
        height: 100vh;
    }
    @include breakpoint($xs) {
        height: 400px;
    }


    .layer--video{
        &:before{
            content: '';
            position: absolute;
            left:0;
            top:0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0, 0.13);
            z-index: 2;
        }
    }

    video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: 101%;
        height: auto;
        transform: translateX(-50%) translateY(-50%);
        background-size: cover;
        z-index: 1;
        object-fit: cover;

        @include breakpoint($md){
            display: none;
        }
        @include breakpoint($lg) {
            top: 0;
            width: auto;
            transform: translateX(-50%) translateY(0);
        }
    }
}