.key-features {
  position: relative;
  height: 650px;
  @include breakpoint($md){
    height: auto;
  }
  &__container{
    position: relative;
    flex: 1;
    &.item-active{
      .btn{
        width: 30%;
        background: $icon-red;
        border: 1px solid $icon-red;
        padding-left: 30px;
        min-width: 150px;
        span{
          @include font-size-map((null: 12px));
          font-family: 'MaaxMedium', Helvetica, sans-serif;
          display: inline-block;
          color: white;
          letter-spacing: 0;
          padding-right: 20px;
        }
        svg{
          fill: white;
        }
      }
      .text-description{
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
  &__list {
    position: relative;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: stretch;
    @include breakpoint($md){
      display: block;
    }
  }

  &__anchor {
    display: block;
  }
  .btn {
    @include transition(all);
    position: absolute;
    bottom: 10%;
    left: span(3 of 24);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 7px;
    z-index: 5;
    &:hover{
      width: 35%;
      .btn-icon{
        right: -15%;
      }
    }
    @include breakpoint($xlg){
      &:hover{
        width: 55%;
        .btn-icon{
          right: -18%;
        }
      }
    }
    svg{
      float: none;
      top: initial;
      left: initial;
      pointer-events: none;
      position: relative;
    }
    span{
      display: none;
      padding-right: 10px;
    }
  }
  &__item {
    position: absolute;
    height: 100%;
    width: 100%;
    @include breakpoint($md){
     width: 100%;
      display: block;
      height: 280px;
      position: relative;
    }
    span, h3, .btn{
     pointer-events: none;
    }
    &.item-disabled{
      span, h3, .btn{
        opacity: .2;
      }
    }
    .text-description{
      @include transition(all, 0.4s);
      @include font-size-map((null: 18px));
      line-height: 23px;
      color: white;
      padding-left: span(3 of 24);
      width: 100%;
      margin-top: 65px;
      position: relative;
      transform: translateY(10%);
      opacity: 0;
      pointer-events: none;
      &:before{
        content: " ";
        position: absolute;
        top: -35px;
        width: 55px;
        height: 8px;
        left: span(3.05 of 24);
        background: $icon-red;
      }
      p{
        max-width: 320px;
        @include breakpoint($xlg){
          max-width: 230px;
        }
      }
    }


    &:after{
      content: "";
      position: absolute;
      top: -10%;
      width: 1px;
      height: 110%;
      right: 0;
      background: $white-10;
      pointer-events: none;
    }
  }

  &__number {
    color: $white-100;
    display: block;
    padding: 50px 0 20px span(3 of 24);
  }

  &__text {
    max-width: 8em;
    color: $white-100;
    padding-left: span(3 of 24);
    line-height: 28px;
  }

  &__video {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    object-fit: cover;
    opacity: 0;
    z-index: 1;
  }

  &__background {
    @include susy-clearfix;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    white-space: nowrap;
    font-size: 0;
    background: #1b1b1c;
  }
  &__bg-item {
    width: span(6 of 24);
    background: $black;
    float: left;
    overflow: hidden;
    height: 100%;
    position: relative;
    @include breakpoint($md){
      width: 100%;
      display: block;
      float: none;
      height: 280px;
    }
    &.hover-active{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .layer--background{
        opacity: 0;
      }
      .key-features__video{
        opacity: 0.2;
      }
    }
    .layer--background {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #1b1b1c;
      &__image{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.2;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}