.navigation{
    width: 100%;
    background: transparent;
    height: 80px;
    padding-left: span(3 of 24);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    position: relative;
    &:after{
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        left: 15px;
        border-bottom: 1px solid rgba(255,255,250, 0.2);
        width: 100%;
        height: 1px;
        z-index: 10;
    }
    &.border-hidden{
        &:after{
            display: none;
        }
    }
    @include breakpoint($xs) {
        padding-left: span(1 of 24);
        height: 60px;
    }

    .logo{
        display: inline-block;
        vertical-align: middle;
        z-index: 110;
        svg{
            width: 88px;
            height: 37px;

            @include breakpoint($xs) {
                margin-top: 10px;
            }
        }
    }
    .menu{
        position: fixed;
        height: 80px;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        z-index: 110;

        @include breakpoint($xs) {
            height: 60px;
        }

        .anchor{
            display: inline-block;
            padding: 10px;
            margin-right: 45px;

            @include breakpoint($xs) {
                margin-right: 10px;
            }
        }
        .trigger{
            display: inline-block;
            background-image: linear-gradient(to top, #358df8 0%, #3371e2 100%);
            height: 100%;
            width: 140px;

            @include breakpoint($xs) {
                width: 100px;
            }

            p{
                color: $light-grey;
                text-transform: uppercase;
                letter-spacing: .05em;
                padding-left: 15px;

            }

            span{
                width: 15px;
                height: 2px;
                margin-top: -2px;
                background: $light-grey;
                position: relative;


                &:after{
                    content: '';
                    position: absolute;
                    top: 5px;
                    height: 2px;
                    width: 100%;
                    background: $light-grey;
                    @include transition-custom(all 300ms linear);
                }

                &:before{
                    content: '';
                    position: absolute;
                    top: -5px;
                    height: 2px;
                    width: 100%;
                    background: $light-grey;
                    @include transition-custom(all 300ms linear);
                }
            }

            &--active {
                span {
                    &:before {
                        width: 50%;
                        transform: translateX(10px) rotate(45deg);
                        transform-origin: left;
                        @include transition-custom(all 300ms linear);
                    }
                    &:after {
                        width: 50%;
                        transform: translateX(10px) rotate(-45deg);
                        transform-origin: left;
                        @include transition-custom(all 300ms linear);
                    }
                }
            }

            &__inner{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}