.lead {
    width: 100%;
    padding: 110px 0;
    background: $white;
    text-align: center;
    position: relative;


    @include breakpoint($sm) {
        padding: 130px 25px;
    }

    @include breakpoint($xs) {
        padding: 80px 25px;
    }

    &--grey{
        background: #fbfbfc;

        .lead__inner{
            background: #fbfbfc;
            padding: 20px 0;
            z-index: 1;
            position: relative;
        }

        &:after{
            content: '';
            position: absolute;
            top:0;
            left: 40%;
            width: 1px;
            height: 70px;
            background-color: #cbc9c9;
        }

        &:before{
            content: '';
            position: absolute;
            bottom:0;
            left: 58.5%;
            width: 1px;
            height: 70px;
            background-color: #cbc9c9;
        }
    }

    &--black {
        background-color: $black;
        a > h2,
        a > p {
            color: $white;
        }
    }

    &--program {
        text-align: left;
        width: 100%;
        padding-bottom: 160px;

        @include breakpoint($sm) {
            padding-bottom: 130px;
        }

        @include breakpoint($xs) {
            padding-top: 80px;
            padding-bottom: 80px;
        }

        .lead__inner {
            padding-left: span(3 of 24);
            width: 70%;


            @include breakpoint($sm) {
                width: span(22 of 24);
                padding-left: span(1 of 24);
            }

            p { letter-spacing: 0.1em; }
            span { color: red; }
        }
        h2, p, span{
            max-width: 700px;
        }
    }

    h2 {
        font-family: 'UnitedHeavy', sans-serif;
        text-transform: uppercase;
        color: $black;
    }

    p {
        text-transform: uppercase;
        line-height: 30px;
        letter-spacing: 1px;
        color: $black;
        @include breakpoint($xs){
            line-height: 20px;
        }
    }

    svg {
        fill: #51bae4;
        width: 13px;
        height: 10px;
    }
    &--red{
        background: #b51d48;
        background: -moz-linear-gradient(top, #b51d48 0%, #871843 100%);
        background: -webkit-linear-gradient(top, #b51d48 0%,#871843 100%);
        background: linear-gradient(to bottom, #b51d48 0%,#871843 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b51d48', endColorstr='#871843',GradientType=0 );
        padding: 160px 0;
        @include breakpoint($sm) {
            padding: 130px 25px;
        }

        @include breakpoint($xs) {
            padding: 80px 25px;
        }
        h2, p {
            color: $white;
        }
    }
    &--auto{
        h2, p {
            max-width: initial;
            text-align: left;
        }
        .lead__inner{
            width: 100%;
        }
    }
}
.video-wrapper{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    @include breakpoint($md){
        width: 500px;

    }
    @include breakpoint($sm){
        width: 100%;

    }
    @include breakpoint($xs){
        width: 100%;

    }
    &:before{
        display: block;
        content: "";
        padding-top: 68%;
    }

    .layer--black{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        background: $dark-grey;
    }

    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 86px;
        height: auto;
        cursor: pointer;
        pointer-events: none;
    }

    video {
        width: 130%;
        display: block;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        height: auto;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background-size: cover;

        @include breakpoint($md){
            width: 134%;
        }
    }
}
.details {
    background: url("../img/umar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;

    .details__inner {
        @include container(100%);
    }

    .content-features {
        @include container(100%);
        position: relative;
    }

    &--white{
        background: #f4f4f4;
    }

    h2 {
        font-family: 'UnitedHeavy', sans-serif;
        text-transform: uppercase;
    }

    &__heading {
        padding-top: 105px;
        padding-bottom: 75px;
        margin-right: -100%;
        position: relative;
        z-index: 1;
        @include breakpoint($md){
            margin-right: 0;
            padding-bottom: 45px;
        }

        @include breakpoint($xs) {
            padding-top: 60px;
        }
        .label{
            text-transform: uppercase;
        }
    }

    h4 {
        font-family: 'UnitedHeavy', sans-serif;
        font-size: 1.333333rem;
        text-transform: uppercase;
    }



    .features {
        position: relative;
        @include span(12 of 24);
        padding-left: span(3 of 24);
        padding-right: span(3 of 24);
        padding-bottom: 180px;
        background-color: #ffffff;
        @include breakpoint($sm, $md) {
            padding-left: span(3 of 24);
            padding-right: span(3 of 24);
        }

        @include breakpoint($md) {
            width: 100%;
        }

        @include breakpoint($xs) {
            padding-bottom: 60px;
        }
        p{
            font-family: 'Fira Sans Condensed', sans-serif;
            font-size: 0.777778rem;
            line-height: 20px;
        }

        &:after {
            position: absolute;
            content: '';
            right: -35%;
            width: 35%;
            top: 0;
            height: 250px;
            background-color: $white;
        }

        &:before {
            position: absolute;
            content: '';
            right: -17.5%;
            width: 17.5%;
            bottom: 0;
            height: 50%;
            background-color: $white;

            @include breakpoint($lg){
                right: -8.5%;
                width: 8.5%;
            }
        }
        &--top{
            z-index: 6;
            position: absolute;
            left: 0;
            height: 100%;
            @include breakpoint($md){
                position: relative;
            }
            &:before{
                display: none;
            }
        }

        ul {
            position: relative;

            &:before {
                position: absolute;
                content: '';
                left: 17px;
                top: 20px;
                bottom: 20px;
                width: 1px;
                background-color: #e5e5e6;
            }
        }

        li {
            padding-left: 60px;
            padding-bottom: 40px;
            position: relative;
            @include breakpoint($sm){
                padding-bottom: 20px;
            }
            h4 {
                line-height: 55px;
            }
            &:before {
                content: '';
                position: absolute;
                left: 0px;
                top: 7px;
                width: 35px;
                height: 35px;
                background-color: #ee395e;
                opacity: 0.3;
                border-radius: 35px;
            }

            &:after {
                content: '';
                position: absolute;
                left: 9px;
                top: 16px;
                width: 17px;
                height: 17px;
                background-color: #ee395e;
                border-radius: 35px;
            }
        }
        &__list--multiline{
            p{
                padding-bottom: 20px;
            }
            .subparagraph{
                padding-bottom: 25px;
            }
            li{
                padding-bottom: 60px;
                max-width: 340px;
                h4{
                    line-height: 1.2;
                    margin-bottom: 13px;
                }
                .btn{
                    @include breakpoint($xs){
                        width: 180px;
                        padding: 20px 15px;
                    }
                }
            }
        }
    }

    &__cta {
        margin-top: 40px;
        margin-left: 60px;

        @include breakpoint($xs) {
            margin: 40px auto 0 auto;
        }
    }
}

.people {
    @include span(12 at 13 of 24);
    padding-right: span(3 of 24);
    padding-top: 70px;
    position: relative;


    @include breakpoint($xlg){
        position: relative;
        right: 5%;
    }
    @include breakpoint($lg){
        padding-right: span(2 of 24);
    }
    @include breakpoint($md) {
        width: 100%;
        padding-right: 0;
        right: 0;
    }
    @include breakpoint($sm, $md){
        padding-left: span(3 of 24);
    }
    &__container{
        &--dark{
            background: black;
            padding-right: span(3 of 13);
            padding-top: 130px;
            .people__inner{
                position: relative;
                z-index: 7;
            }
        }
    }

    .people__preview {
        text-align: right;
        @include breakpoint($md) {
            text-align: left;
        }

        .preview__description {
            @include breakpoint($md) {
                padding-left: 15px;
            }

            @include breakpoint($sm, $md){
                padding-left: 0;
            }

            @include breakpoint($sm){
                width: 100%;
                text-align: center;
                padding-left: 0;
            }
            p{
                padding-bottom: 40px;
                @include breakpoint($sm){
                    padding-bottom: 20px;
                }
            }
        }
    }

    .underline {
        color: #ffffff;
        text-transform: uppercase;
        display: inline-block;
        position: relative;

        &:after{
            content: '';
            position: absolute;
            left:0;
            right:0;
            bottom: 25px;
            height: 1px;
            background: $line-dark;
            @include breakpoint($md){
                bottom: 20px;
            }
            @include breakpoint($sm){
                bottom: 12px;
            }

        }
    }
    .description {
        color: #de2c4d;
        text-transform: uppercase;
    }
    h4 {
        color: #ffffff;
        text-transform: uppercase;
    }

    .featured {
        @include container(100%);
        position: relative;

        @include breakpoint($sm){
            &:before{
                content: '';
                display: block;
                padding-top: 64%;
            }
        }
        .quote{
            padding: 75px 0 100px 90px;
            @include breakpoint($sm){
                padding: 45px 0 60px 50px;
            }
            @include breakpoint($xs){
                padding: 35px 0 40px 30px;
            }
            &__text{
                p{
                    @include font-size-map((null: 30px));
                    color: white;
                    font-family: freight-big-pro, serif;
                    font-style: normal;
                    font-weight: 300;
                    max-width: 400px;
                    line-height: 1.2;
                }
                span{
                    @extend .font-united-bold;
                    @include font-size-map((null: 72px));
                    color: white;
                    margin: 0;
                    padding: 0;
                    display: inline-block;
                    height: 30px;
                    overflow: hidden;
                    position: relative;
                    margin-bottom: 30px;
                }
            }
            .preview__description{
                margin-top: 66px;
                position: relative;
                &:before{
                    content: " ";
                    position: absolute;
                    top: -40px;
                    left: 0;
                    width: 110px;
                    height: 1px;
                    background: rgba(255, 255, 255, .15);
                }
                .description{
                    color: #537fa7;
                    margin-top: 5px;
                }
            }
        }
    }

    .featured__photo {
        width: 50%;
        max-width: 275px;
        float: left;
        position: relative;




        @include breakpoint($sm) {
            width: 50%;
            position: absolute;
            left:0;
            top:0;
            max-width: 100%;

        }

        .layer--black{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
            background: $dark-grey;
        }
        img {
            height: auto;
            width: 100%;
        }
    }

    .artists {
        padding-left: 45px;
        padding-top: 45px;
        float: left;
        position: relative;

        @include breakpoint($sm){
            margin-top: -68%;
        }
        p{
            padding-bottom: 40px;
            position: relative;
            @include breakpoint($sm){
                padding-bottom: 20px;
            }
        }

        .artists__list{
            .artists__item{
                display: block;
                text-align: left;

                @include breakpoint($md){
                    display: inline-block;
                }

                &:first-child{
                    @include breakpoint($md){
                        margin-right: 10px;

                    }
                    
                }
                &:last-child{
                    @include breakpoint($md){
                        margin-left: 10px;   
                    }

                    @include breakpoint($lg){
                        margin-left: 0;
                    }
                }

                @include breakpoint($sm, $md){
                    display: block;
                }

            }
        }


        @include breakpoint($sm) {
            padding-left: 0;
            text-align: center;
            width: 100%;
        }

        .underline{

            &:after{
                left: -45px;
                @include breakpoint($sm) {
                    left: 0;
                    right:0;
                }
            }
        }
    }
    &--full{
        padding-right: span(0 of 24);
        padding-top: 0;
        @include breakpoint($xlg){
            position: relative;
            right: 0;
        }
        @include breakpoint($lg){
            padding-right: 0;
        }
        @include breakpoint($md) {
            width: 100%;
            padding-right: 0;
            right: 0;
        }
        .photo{
            @include susy-clearfix;
            width: 100%;
            max-width: initial;
            .photo-item{
                float: left;
            }
            .photo-item--left{
                width: 330px;
                height: 330px;
                max-width: initial;
                overflow: hidden;
            }
            .photo-item--right{
                width: 175px;
                height: 175px;
                overflow: hidden;
            }
        }
    }

}

.tips {
    @include span(15 of 24);
    float: none;
    clear: both;
    padding-left: span(3 of 24);
    padding-bottom: 180px;
    padding-top: 180px;
    position: relative;

    .form-elem__placeholder{
        padding-right: 0;
    }

    @include breakpoint($sm, $lg) {
        @include span(18 of 24);
    }

    @include breakpoint($sm) {
        width: 100%;
        padding-right: span(4 of 24);
        padding-top: 120px;
        padding-bottom: 120px;
    }

    @include breakpoint($sm) {
        padding-right: span(1 of 24);
    }


    @include breakpoint($xs) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    &:before{
        content: '';
        position: absolute;
        top: 193px;
        left: -20px;
        height: 6px;
        width: span(4.5 of 24);
        background-color: $line-red;

        @include breakpoint($sm, $lg) {
            width: span(4 of 24);
        }

        @include breakpoint($sm) {
            width: span(3 of 24);
            top: 132px;
        }

        @include breakpoint($xs) {
            width: span(3 of 24);
            top: 69px;
        }
    }
    &--dark{
        @include susy-clearfix;
        width: 100%;
        .tips__content{
            h2, .tips__text{
                color: black;
            }
            span{
                @include font-size-map((null: 16px));
                text-transform: uppercase;
                margin-bottom: 15px;
                display: inline-block;
            }
        }
        &:before{
            display: none;
        }
    }

    &__content {
        width: 800px;

        @include breakpoint($md) {
            width: 100%;
        }
        .text-overflow{
            @include breakpoint($md){
                display: none;
            }
        }
        .mobile-container{
            display: none;
            @include breakpoint($md){
                display: block;
            }
        }
    }
    &--600{
        @include breakpoint($sm){
            @include pad(2 of 24);
        }

        .tips__content{
            float: left;
            max-width: 600px;
            @include breakpoint($xlg){
                max-width: 500px;
            }
        }
        .tips__text{
            max-width: 500px;
            padding-right: 100px;
            @include breakpoint($sm){
                padding-right: 50px;
                padding-bottom: 40px;
            }
        }
    }
    &__text{
        margin-top: 15px;
        padding-bottom: 40px;
        @include breakpoint($sm) {
            width: 100%;
        }
    }
    &__preview{
        float: left;
        @include breakpoint($xlg){
            max-width: 450px;
        }
        @include breakpoint($lg){
            max-width: 350px;
        }
        img{
            max-width: 100%;
        }
    }
    p{
        font-family: 'Fira Sans Condensed', sans-serif;
        font-size: 0.777778rem;
        line-height: 20px;
    }
    h2 {
        color: #ffffff;
        @include breakpoint($sm){
            padding-right: 0;
        }
        span {
            @include font-size-map((null: 48px, $xs: 34px));
            @extend .font-united-bold;
            color: #de2c4d;
        }
    }
    p {
        color: #ffffff;
        padding-right: 150px;
        @include breakpoint($md){
            padding-right: 0;
        }
    }

    form{
        margin-right: -30px;
    }
}

.video-modal{
    opacity: 0;
    display: none;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.6);
    z-index: map-get($z-layers, highest);

    .video-modal-wrapper{
        width: 65%;
        height: auto;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        @include breakpoint($md){
            width: 90%;
        }
    }

    video{
        width: 100%;
        height: 100%;
    }

    span{
        position: absolute;
        top: 0;
        right: 0;
        line-height: 25px;
        width: 25px;
        cursor: pointer;
        text-align: center;
        font-family: Arial,sans-serif;
        background: #fff;
        background: rgba(255,255,255,.3);
        color: #000;
    }

    &--open{
        display: block;
    }
}