.process {

  &__inner {
    padding-top: 135px;
    padding-bottom: 90px;
    margin-left: span(6 of 24);
    margin-right: span(6 of 24);

    @include breakpoint($sm, $md) {
      margin-right: span(3 of 24);
      margin-left: span(3 of 24);
      padding-bottom: 70px;
    }

    @include breakpoint($sm) {
      margin-right: span(2 of 24);
      margin-left: span(2 of 24);
    }

    @include breakpoint($xs) {
      padding-top: 30px;
      padding-bottom: 60px;
    }
    .text-overflow{
      @include breakpoint($md){
        display: none;
      }
    }
    .mobile-container{
      display: none;
      @include breakpoint($md){
        display: block;
        h2{
          font-size: 30px;
          line-height: 0.9;
        }
      }
    }
  }

  .brief {
    .process__label {
      padding-top: 15px;
      padding-bottom: 15px;
      letter-spacing: 0.1em;
    }

    .process__description {
      font-family: 'Fira Sans Condensed', sans-serif;
      padding-top: 15px;
      padding-bottom: 50px;
      font-size: 18px;
      line-height: 1.8em;
    }
  }
  .brief{
    h2{
      text-transform: uppercase;
    }
  }
}