.sidebar {
  position: fixed;
  width: 50%;
  right: -50%;
  bottom: 0;
  top: 0;
  height: 100%;
  background: $white;
  z-index: 1;
  @include transition-custom(all 600ms ease-out);

  @include breakpoint($md){
    width: 100%;
    right: -100%;
  }
  &--active {
    transform: translateX(-100%);
    @include transition-custom(all 600ms ease-out);
    @include breakpoint($md){
      transform: translateX(-100%);
    }
  }

  &__list {
    width: 100%;
    padding-left: 80px;
    position: absolute;
    display: flex;
    justify-content: space-between;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @include breakpoint($md){
      padding-left: 40px;
    }

    @include breakpoint($sm){
      flex-direction: column;
      padding-left: 0;
      padding-top: 30px;
    }

    .list {
      text-align: left;
      float: left;
      width: 50%;

      @include breakpoint($sm){
        width: 100%;
        display: block;
        text-align: center;
      }

      li {
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: 'UnitedHeavy', arial, sans-serif;
        text-transform: uppercase;

        @include breakpoint($sm){
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }

      &--primary {
        @include font-size-map((null: 30px, $sm: 26px, $xs: 22px));
        a {
          transition: all 200ms linear;
          &:hover {
            color: $icon-red;
          }
        }
      }

      &--secondary {
        margin-top: 10px;
        margin-bottom: 10px;
        @include font-size-map((null: 18px));
        a {
          color: $icon-red;
        }
      }
    }
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 0 80px;

    @include breakpoint($md){
      padding: 0 40px;
    }

    @media (max-height: $xs) {
      display: none;
    }

    .bottom__inner {
      padding-top: 20px;
      padding-bottom: 40px;
      border-top: 8px solid $icon-red;
      display: flex;
      justify-content: space-between;

      @include breakpoint($md){
        padding-top: 20px;
        padding-bottom: 20px;
        border-width: 4px;
      }

      svg{
        margin-left: 20px;
        width: 25px;
        height: 25px;

        @include breakpoint($md){
          margin-left: 10px;
          width: 18px;
          height: 18px;
        }
      }
      span {
        display: block;
        margin-bottom: 15px;
        @include font-size-map((null: 18px, $sm: 16px));
      }
    }
  }

}

