.steps {
  &__inner {
    margin-left: span(3 of 24);
    margin-right: span(3 of 24);
    padding-top: 90px;
    padding-bottom: 90px;
    white-space: nowrap;
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    @include breakpoint($sm) {
      @include span(20 of 24);
      display: block;
      margin-left: span(2 of 24);
      margin-right: span(2 of 24);
      margin-bottom: 60px;
      padding-bottom: 15px;
    }

    @include breakpoint($xs) {
      padding-top: 60px;
      padding-bottom: 10px;
    }
  }

  &__item {
    width: span(8 of 24);
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
    white-space: normal;

    @include breakpoint($sm) {
      display: block;
      width: 100%;
      max-width: 100%;
      text-align: center;
    }

    .steps-block {
      box-sizing: border-box;
      @include breakpoint(0, $sm) {
        padding-right: 0;
        margin-bottom: 35px;
      }

      h3 {
        font-size: 24px;
        line-height: 24px;

      }

      p {
        font-family: 'Fira Sans Condensed', sans-serif;
        font-size: 14px;
      }

      &__description {
        line-height: 1.4em;
        margin-top: 15px;
        margin-bottom: 35px;

        @include breakpoint(0, $sm) {
          margin-bottom: 15px;
        }
      }

      &__list {
        text-transform: uppercase;

        .steps-block__item {
          padding-top: 8px;
          padding-bottom: 8px;
        }
      }

    }
  }
}