.testimonials {
  @include susy-clearfix;
  margin-left: span(2 of 24);
  margin-right: span(2 of 24);
  border-top: 1px solid $light-grey;
  @include breakpoint($sm){
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__inner {
    @include span(24 of 24);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;

    @include breakpoint($sm){
      margin-top: 30px;
      margin-bottom: 30px;
      flex-direction: column;
    }

    &--reverse {
      flex-direction: row-reverse;
      @include breakpoint($sm){
        flex-direction: column;
      }
    }
  }

  &__image {
    @include span(10 of 24);
    position: relative;
    @include breakpoint($sm){
      width: 80%;
      padding-right: 0;
    }
    img {
      width: 100%
    }
    .layer--black{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      background: #161616;
    }
  }
  &__content {
    @include span(10 of 24);

    @include breakpoint($sm){
      @include span(24 of 24);
    }
    .author__desc{
      @include breakpoint($sm){
        font-size: 12px;
      }
    }
    .testimonials__description {
      position: relative;
      font-family: freight-big-pro, serif;
      margin-bottom: 50px;
      margin-top: 100px;
      max-width: 450px;
      @include font-size-map((null: 36px, $xlg: 36px, $sm: 32px, $xs: 24px));
      @include breakpoint($sm){
        margin-top: 80px;
        max-width: initial;
        line-height: 36px;
      }
      @include breakpoint($xs){
        margin-top: 50px;
        margin-bottom: 10px;
        line-height: 28px;
      }

      &:before {
        content: '“';
        top: -40px;
        position: absolute;
        font-family: 'UnitedBold', arial, sans-serif;
        @include font-size-map((null: 72px, $xlg: 72px, $xs: 52px));

        @include breakpoint($xs){
          top: -30px;
        }
      }
    }
  }
}