.p-client{
  .key-features__container.item-active .text-description{
    p{
      @include font-size-map((null: 17px));
    }
  }
  .navigation{
    &:after{
      border-bottom: 1px solid rgba(255, 255, 250, 0.13);
    }
  }
  .key-features{
    &__bg-item{
      width: 33.33%;
      @include breakpoint($md){
        width: 100%;
      }
    }
  }
  .questions{
    background: black;
    &__heading{
      p{
        margin-top: 10px;
      }
    }
    &__inner{
      @include span(12 of 24);

      float: none;
      margin: 0 auto;
      padding: 100px 0 135px;
      text-align: center;
      @include breakpoint($sm){
        width: 90%;
        padding: 50px 0 35px;
      }
      h2, p{
        color: white;
        text-transform: uppercase;
      }
      border-bottom:1px solid rgba(255, 255, 255, .18);
    }
    .form{
      width: 100%;
      text-align: left;
      margin-top: 80px;
      @include breakpoint($sm){
        margin-top: 40px;
      }
      .form-elem{
        height: 40px;
        width: 100%;
        &__placeholder{
          @include font-size-map((null: 14px));
          padding-left: 20px;
        }
        &--full{
          height: auto;
          position: relative;
          .form-elem__placeholder{
            top: 20px;
            transform: translateY(0);
          }
        }
      }
      .form-group--inline{
        .form-elem{
          width: 50%;
          @include breakpoint($sm){
            width: 100%;
          }
          &:first-of-type{
            padding-right: 13px;
            @include breakpoint($sm){
              padding-right: 0;
            }
          }
          &:last-of-type{
            padding-left: 12px;
            .form-elem__placeholder{
              padding-left: 30px;
            }
            @include breakpoint($sm){
              padding-left: 0;
              .form-elem__placeholder{
                padding-left: 20px;
              }
            }
          }
        }
      }
      .form-group--btn{
        margin-top: 50px;
        text-align: center;
        @include breakpoint($sm){
          margin-top: 20px;
        }
        .btn{
          width: 180px;
          margin: 0 auto;
          text-align: left;
          height: 45px;
          padding: 15px 20px;
          .btn-icon{
            padding-top: 2px;
          }
        }
      }
      textarea{
        padding: 20px 20px;
        text-transform: uppercase;
        text-align: left;
      }
      input{
        padding: 5px 20px;
        text-transform: uppercase;
        text-align: left;
      }
      textarea{
        width: 100%;
        height: 80px;
      }
    }
  }
  .people{
    .featured__photo{
      @include breakpoint($sm){
        position: relative;
      }
    }
    .featured{
      &:before{
        @include breakpoint($sm){
          display: none;
        }
      }
    }
  }
  .content{
    .mobile-container{
      display: none;
      @include breakpoint($sm){
        display: block;
      }
    }
    .default-container{
      .text-overflow{
        @include breakpoint($sm){
          display: none;
        }
      }
    }
  }
}
.p-female{
  .header{
    .content__label{
      color: $line-red !important;
    }
  }
}