.p-index{
    overflow: hidden;


    .header{
        .content{
            @include span(10 of 24);
            padding-left: span(3 of 24);
            float: none;
            padding-top: 25px;
            margin-top: 80px;
            height: 100%;
            position: relative;
            z-index: 99;

            @include breakpoint($xlg){
                @include span(13 of 24);
            }

            @include breakpoint($md) {
                @include span(20 of 24);
            }

            h1{
                color: $white-grey;
            }

            &__label{
                color: #656565;
                opacity: 0;
                visibility: hidden;
                letter-spacing: 1px;

                span{
                    @include font-size-map((null: 15px));
                    color: $white-grey;
                    font-style: normal;
                }
            }

            &__main{
                position: absolute;
                left: span(3 of 10);
                bottom: 50%;
                transform: translateY(50%);
                width:100%;

                @include breakpoint($xlg){
                    left: span(3 of 13);
                }

                @include breakpoint($md) {
                    left: span(2 of 13);
                    transform: translateY(0);
                    position: relative;
                    bottom: 0;
                    padding-top: 50px;
                }

            }
            .text-wrapper{
                margin: 65px 0 45px;
                position: relative;
                @include breakpoint($md){
                    margin: 45px 0 45px;
                }
                &:before{
                    @include transition(all, 0.5s);
                    content: '';
                    position: absolute;
                    top:21px;
                    left: -20px;
                    height: 6px;
                    background-color: $line-red;
                    transform: rotate(180deg) translateX(20%);
                    transform-origin: left;
                    opacity: 0;
                    width: 2000px;
                    @include breakpoint($xs) {
                        top: 10px;
                    }
                }
            }
            &__options{
                .btn{
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(20%);
                    @include breakpoint($sm) {
                        display: block;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                    &:last-of-type{
                        margin-left: 30px;
                        @include breakpoint($sm) {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
        .features{

            @include  breakpoint($xs){
                margin-left: -8.3333vw;
            }

            &__item{
                display: inline-block;
                opacity: 0;
                visibility: hidden;
                line-height: 0.8rem;

                &:first-of-type{
                    padding-right: 30px;
                    border-right: 1px solid rgba(255, 255, 250, 0.2);

                    @include breakpoint($sm) {
                        display: block;
                        padding-right: 0;
                        border-right: none;

                    }
                }

                &:last-of-type{
                    padding-left: 30px;

                    @include breakpoint($sm) {
                        display: block;
                        padding-left: 0;
                    }
                }
            }
            p{
                color: $white-grey;
            }
        }
        .home-main{
            h1{
                transform: translateY(105%);
                @include breakpoint($sm){
                    transform: translateY(0);
                    opacity: 0;
                }

            }
        }
        &.line-loaded{
            .text-wrapper{
                &:before{
                    opacity:1 !important;
                    transform: rotate(180deg) translateX(0);
                }
            }
        }
    }

}

.what-they-say{
    text-align: center;
    padding: 95px 0 140px 0;

    @include breakpoint($sm) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
.faq{
    background: url('../img/faq-background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    text-align: center;
    padding: 165px 0;
    @include breakpoint($sm){
        padding: 70px 15px;
    }
    span{
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $white;
    }

    h2{
        text-transform: uppercase;
        padding: 20px 0 45px 0;
        color: $white;
    }
}

.footer{
    color: $white;
    background-color: $black;
    .footer__inner{
        padding: 150px 0 110px 0;
        text-align: center;

        @include breakpoint($md) {
            padding: 30px span(2 of 24);
        }

        &--testimonials {
            @include breakpoint($md) {
                padding: 60px span(2 of 24);
            }
        }

        h2{
            text-transform: uppercase;
            padding-bottom: 35px;
        }

        p{
            text-transform: uppercase;
            font-size: 1rem;
            max-width: 650px;
            margin: 0 auto;
            line-height: 22px;
            padding-bottom: 80px;
            @include breakpoint($sm) {
                padding-bottom: 50px;
            }
        }

        .options{
            a:first-child{
                margin-right: 15px;
                @include breakpoint($sm) {
                    margin: 10px auto;
                    display: block;
                }
            }
            a:last-child{
                margin-left: 15px;
                @include breakpoint($sm) {
                    margin: 10px auto;
                    display: block;
                }
            }
        }
    }

    .site-info{
        @include susy-clearfix;
        text-align: center;
        text-transform: uppercase;
        background: #0c0a0b;
        padding: 45px 0 35px 0;
        position: relative;

        @include breakpoint($sm) {
            text-align: center;
        }

        .copyright{
            color: $gray-text;

            @include breakpoint($sm) {
                width: 100%;
                padding: 10px 0;
            }

            .logo{
                margin-top: -5px;

                @include breakpoint($lg) {
                    display: block;
                    margin: 0 auto;
                }
            }

            svg{
                display: inline-block;
                width: 65px;
                height: 30px;
                margin: 0 20px 0 50px;

                @include breakpoint($lg) {
                    margin: 0 auto;
                }
            }

            p{
                display: inline-block;

                @include breakpoint($lg) {
                    display: block;
                }

                @include breakpoint($sm) {
                    display: block;
                    margin: 0 auto;
                    width: 100%;
                }
            }
        }

        div{
           display: inline-block;
        }

        div:first-child{
            float: left;

            @include breakpoint($lg) {
                float: none;
            }
        }

        div:last-child{
            float: right;
            @include breakpoint($lg) {
                float: none;
            }
        }

        ul{
            position: absolute;
            top:54px;
            left:50%;
            transform: translateX(-50%) translateY(-50%);

            @include breakpoint($lg) {
                position: relative;
                display: block;
                top: auto;
                left: auto;
                transform: translate(0);
                margin: 15px auto;
            }

            li{
                display: inline;
                margin: 0 10px;

                @include breakpoint($xs) {
                    display: block;
                    margin: 20px 0;
                }
            }

            a{
                @include transition(color, 0.35s);
                color: $gray-text;
                text-transform: uppercase;
                font-size: 0.888889rem;
                font-family: din-condensed, arial, sans-serif;
                font-weight: 700;
                &:hover{
                    color: white;
                }
            }
        }

        .social{
            margin-top: -5px;

            @include breakpoint($lg) {
                margin: 10px auto;
            }
            &__anchor{
                &:hover{
                    @include hover(){
                        svg{
                            fill: white;
                        }
                    }
                }
            }

            svg{
                @include transition(all, 0.35s);
                width: 30px;
                height: 30px;
                fill: $gray-text;
                margin: 0 50px 0 20px;
                @include breakpoint($lg) {
                    margin: 0 auto;
                }
            }
        }
    }

}