.online-cocahing{
  color: $white;
  background-color: $black;
  @include container();
  padding-left: span(3 of 24);
  padding-right:  span(3 of 24);
  padding-top: 110px;
  padding-bottom: 175px;

  &--plans{
    background-color: #2e57a3;

    .online-cocahing__type__description{
      color: $white;
    }
  }

  &__separator{
    position: absolute;
    left:-43px;
    right:-10px;
    bottom: 0;
    height: 1px;
    background-color: rgba(255,255,255, 0.2);;

    @include breakpoint($sm){
      right:-43px;
    }
  }

  h3{
    text-align: center;
    font-size: 1.333334rem;
    font-family: din-condensed, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;

  }

  &__description{
    text-align: center;
    font-size: 0.777778rem;
    font-family: 'Fira Sans Condensed', sans-serif;
  }

  &__types{
    @include container(100%);
    padding-top: 110px;

  }



  &__type{
    @include gallery(8 of 24);
    padding-top: 30px;

    @include breakpoint($md){
      @include gallery(12 of 24);
    }

    @include breakpoint($sm){
      display: block;
      float: none;
    }

    &:first-child{
      padding-right: span(2 of 24);

      @include breakpoint($sm){
        padding: 0;

        width:100%;
        text-align: center;

        h2{
          margin-left: 0;
        }
        p{
          margin-left: 0;
        }
      }

    }

    &:last-child{
      padding-left: span(2 of 24);

      @include breakpoint($md){
        padding-left: 0;
        padding-top: 60px;
        width:100%;
        text-align: center;

        h2{
          margin-left: 0;
        }

        p{
          margin-left: 0;
          padding-left: 0;
        }

      }
    }

    &:nth-child(2){
      padding-left: span(1 of 24);
      padding-right: span(1 of 24);
      position: relative;

      @include breakpoint($sm){
        padding: 60px 0 0 0;
        width:100%;
        text-align: center;
        margin-left: 0;

        h2{
          margin-left: 0;
        }
        p{
          margin-left: 0;
        }
      }


      &:after{
        content: '';
        position: absolute;
        top:0;
        bottom: 22%;
        left: -10%;
        width: 1px;
        background-color: rgba(255,255,255, 0.2);

        @include breakpoint($sm){
          display: none;
        }
      }

      &:before{
        content: '';
        position: absolute;
        top:0;
        bottom: 22%;
        right: -2%;
        width: 1px;
        background-color: rgba(255,255,255, 0.2);

        @include breakpoint($md){
          display: none;
        }
      }
    }

    h2{
      font-size: 1.5rem;
      line-height: 1.2em;
      background: linear-gradient(90deg,#eb609d, #f15a5d);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
      margin-left: -12.5%;
    }

    &__description{
      text-align: center;
      padding-bottom: 40px;
      color: #656565;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-left: -12.5%;
    }

    &__list{
      display: inline-block;



      li{
        padding: 18px 0;
        font-size: 0.777778rem;
        font-family: 'Fira Sans Condensed', sans-serif;
        text-align: left;
        position: relative;

      }

      &__item--include{
        &:after{
          content: '';
          position: absolute;
          width: 3px;
          height: 1rem;
          background-color: #5bd371;
          left: -20px;
          top:16px;
          transform: rotate(40deg);
        }

        &:before{
          content: '';
          position: absolute;
          width: 3px;
          height: 0.45rem;
          background-color: #5bd371;
          left: -27px;
          top: 25px;
          transform: rotate(-49deg);

        }
      }

      &__item--exclude{
        &:after{
          content: '';
          position: absolute;
          width: 3px;
          height: 1rem;
          background-color: #eb1734;
          left: -20px;
          top:16px;
          transform: rotate(45deg);
        }

        &:before{
          content: '';
          position: absolute;
          width: 3px;
          height: 1rem;
          background-color: #eb1734;
          left: -20px;
          top:16px;
          transform: rotate(-45deg);

        }
      }
    }

    &__price{
      padding: 44px 0 44px 20%;
      font-size: 1.777778rem;
      letter-spacing: 1px;

      &--super{
       vertical-align: super;
      }

      @include breakpoint($sm){
        padding: 15px 0;
      }
    }

    .btn{
      text-align: left;


    }
  }
}
